body {}


span.text {
    font-size: 18px;
}

#Plusone, #Minusone, #Suivant {
    height: 100px;
    width: 33%
}

#Run {
    height: 50px;
    width: 20%
}


#IDShowSRRandTRT {
    height:50px;
}

.parent {
    display: flex; 
    height: 280px;
}

.enfant {
    margin: auto; 
    text-align: justify;
}

@media screen and (max-width: 800px) {
    #ShowCitation {
        font-size: 20px;
    }
}
