body {}

label {
    font-size: 16px;
}
#typeofsort, #numbercitation, #begincitation {
    font-size: 20px;
    /*font: inherit;*/
}

span.text {
    font-size: 18px;
}

#Plusone, #Minusone, #Suivant {
    height: 100px;
    width: 33%
}

#Run {
    height: 50px;
    width: 20%
}


#IDShowSRRandTRT {
    height:50px;
}

.parent {
    display: flex; 
    height: 280px;
}

.enfant {
    margin: auto; 
    text-align: justify;
}

@media screen and (max-width: 800px) {
    #ShowCitation {
        font-size: 16px;
    }

    .parent {
        display: flex;
        height: 180px;
    }

    #Plusone, #Minusone, #Suivant {
        height: 80px;
        width: 32%
    }

    #IDShowSRRandTRT {
        height: 18px;
        
    }
    #ShowSRRandTRT {
        font-size: 12px;
    }

    #Run {
        height: 40px;
        width: 20%
    }

}
