body {}

#Plusone, #Minusone, #Suivant {
    height: 100px;
    width: 33%
}

#IDShowCitation {
    /*height: 300px;
    padding: 70px 0;*/
    text-align: justify
}

#IDShowSRRandTRT {
    height:50px;
}

.parent {
    display: flex; /* contexte sur le parent */
    height: 300px;
}

.enfant {
    margin: auto; /* eh oui, tout bêtement */
    text-align: justify;
    /*height: 300px;*/
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 20px;
    }
}

/*#Minusone {
    height: 100px;
    width: 33%
}

#Suivant {
    height: 100px;
    width: 33%
}*/