{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block app_content %}

<article class="MonArticle">

    <h1>L&rsquo;attracteur Corps</h1>

    <ol data-toc="div.container" data-toc-headings="h2,h3,h4"></ol>

    <h2>Historique</h2>
    <p align="justify">
        Mes premi&egrave;res angoisses de mort remontent &agrave;
        loin. En maternel, on notera le r&ecirc;ve r&eacute;current de la
        sorci&egrave;re remontant avec ses loups me chercher dans la chambre,
        la nuit. Plus tard, on notera &eacute;galement les figurines
        repr&eacute;sentant mes parents et ma s&oelig;ur avec la pri&egrave;re
        chaque soir pour qu&rsquo;ils ne leur arrivent rien. Je me souviens
        &eacute;galement d&rsquo;avoir fix&eacute; vers 8 ans, l&rsquo;ann&eacute;e
        95 comme &eacute;tant l&rsquo;ann&eacute;e o&ugrave; si je vivais
        encore, je pouvais m&rsquo;estimer heureux. Plus tard, vers 18 ans,
        j&rsquo;ai le souvenir d&rsquo;avoir &laquo;&nbsp;d&eacute;riv&eacute;&nbsp;&raquo;
        pour la premi&egrave;re fois un grain de beaut&eacute; qui &eacute;tait
        apparu sur ma queue. A  plusieurs reprises, je me suis inqui&eacute;t&eacute;
        s&eacute;rieusement de boules noires apparaissant au fond de ma gorge
        apr&egrave;s des semaines d&rsquo;abus d&rsquo;alcool et de tabac&nbsp;:
        ces boules s&rsquo;av&eacute;rant simplement &ecirc;tre des caillots
        de sang que je per&ccedil;ais &agrave; l&rsquo;aide d&rsquo;une
        aiguille, imm&eacute;diatement rassur&eacute;. Il en va de m&ecirc;me
        la premi&egrave;re fois que j&rsquo;ai observ&eacute; ces boules de
        serumen blanche au niveau des amygdales. Une vive inqui&eacute;tude
        passag&egrave;re s&rsquo;&eacute;tait empar&eacute; de moi.
    </p>
    <p align="justify">
        Mais ce n&rsquo;est que bien plus tard qu&rsquo;est
        apparu cette terrible maladie qu&rsquo;est l&rsquo;hypocondrie.
        J&rsquo;&eacute;tais alors dans une salle de TP en train d&rsquo;enseigner
        la biologie quand, un matin d&rsquo;automne, j&rsquo;ai rep&eacute;r&eacute;
        une g&egrave;ne au fond de la gorge au niveau des amygdales avec une
        boule au niveau du cou. Pendant plusieurs ann&eacute;es, angoisse de
        mort, peur, terreur et les fameux sentiments ressentis &agrave;
        l&rsquo;approche de la mort (d&eacute;ni, acceptation, col&egrave;re&hellip;)
        ne me quitteront plus, tournant en boucle les uns apr&egrave;s les
        autres. Le tout dans le plus grand secret&nbsp;: une partie de moi ne
        voulant pas alarmer mes proches sur la gravit&eacute; de mon &eacute;tat
        de sant&eacute;, l&rsquo;autre, plus inconsciente peut-&ecirc;tre, ne
        voulant pas r&eacute;v&eacute;ler cette faiblesse mentale honteuse
        qu&rsquo;est l&rsquo;hypocondrie. Je ferais par la suite des tonnes
        d&rsquo;examens m&eacute;dicaux prescrits par un m&eacute;decin ORL&nbsp;:
        examens sanguins, scanner/IRM (&agrave; plusieurs reprises) puis
        ponction dans les ganglions/ad&eacute;nomes &agrave; l&rsquo;aide
        d&rsquo;une aiguille, puis fibroscopie sur le billard... Au bout d&rsquo;un
        moment, je finirais par admettre que mon probl&egrave;me rel&egrave;ve
        de la psychiatrie (sans que l&rsquo;ORL me dirige dans cette voie,
        cherchant au contraire gentiment &agrave; nier la n&eacute;cessit&eacute;
        de recourir &agrave; la psychiatrie). Me voici donc tous les mardis
        matins chez le docteur Cacciali, lui r&eacute;p&eacute;tant
        invariablement la m&ecirc;me chose&nbsp;: un mardi, lui expliquant
        que les m&eacute;decins sont en train de commettre une terrible
        erreur m&eacute;dicale en passant &agrave; cot&eacute; de la gravit&eacute;
        de mon &eacute;tat de sant&eacute;, le mardi suivant, tentant de
        m&rsquo;accrocher &agrave; la th&egrave;se inverse de l&rsquo;hypocondrie.
        Le tout pendant des ann&eacute;es, toujours le m&ecirc;me discours,
        toujours la m&ecirc;me boucle. La course &agrave; pied m&rsquo;a
        &eacute;norm&eacute;ment aid&eacute; &agrave; &eacute;vacuer l&rsquo;&eacute;norme
        pression mentale &agrave; laquelle j&rsquo;&eacute;tais soumis. De
        m&ecirc;me que le boulot avec cette id&eacute;e &agrave; laquelle je
        m&rsquo;accrochais&nbsp;: quitte &agrave; crever bient&ocirc;t,
        autant faire avancer la science/la m&eacute;decine. Puis petit &agrave;
        petit, le temps passant, voyant qu&rsquo;il n&rsquo;y avait pas
        d&rsquo;aggravation visible de mon &eacute;tat de sant&eacute;, j&rsquo;ai
        admis de plus en plus la r&eacute;alit&eacute; de mon hypocondrie.
        Mais conna&icirc;tre et admettre cette r&eacute;alit&eacute; ne
        suffit pas &agrave; gu&eacute;rir du trouble et plusieurs fois, je me
        suis &laquo;&nbsp;diagnostiqu&eacute;&nbsp;&raquo; un cancer du colon
        pour des douleurs au ventre avec &agrave; chaque fois, passage chez
        le g&eacute;n&eacute;raliste puis le sp&eacute;cialiste etc.
    </p>
    <p align="justify">
        Le terme hypocondrie est trop faible pour d&eacute;crire
        la gravit&eacute; des troubles mentaux dont j&rsquo;ai &eacute;t&eacute;
        et dont je suis encore victime r&eacute;guli&egrave;rement. Un terme
        peut-&ecirc;tre meilleur est celui de psychose hypocondriaque. Le
        terme &laquo;&nbsp;psychose&nbsp;&raquo; refl&eacute;tant mieux les
        souffrances psychiques terribles endur&eacute;es sur de longues
        p&eacute;riodes, g&eacute;n&eacute;rant un malheur et un d&eacute;sespoir
        profond. Le tout sans que personne autour de moi ne se doute de quoi
        que ce soit, ne puisse imaginer le niveau de souffrance, de malheur
        dans lequel je suis jet&eacute;, ayant malheureusement une facult&eacute;
        de dissimulation trop forte pour ce genre de chose. Ou plus
        exactement, une pudeur ou un orgueil trop d&eacute;velopp&eacute;.
    </p>
    <p align="justify">
        Mais les troubles ont donc diminu&eacute; vers la
        fin de th&egrave;se et j&rsquo;ai pu vivre encore quelques ann&eacute;es
        de bonheur avec Anne-Laure, les soucis de fin de th&egrave;se
        (publications, devenir professionnel&hellip;) n&rsquo;&eacute;tant
        que des broutilles en comparaison de la violence de la psychose.
    </p>
    <p align="justify">
        Peut-&ecirc;tre ne peut-on pas vraiment parler de
        gu&eacute;rison d&rsquo;une telle psychose mais plut&ocirc;t de
        r&eacute;mission&nbsp;: on la maintient &agrave; un niveau le plus
        bas possible mais elle reste toujours en sourdine, pr&ecirc;t &agrave;
        r&eacute;appara&icirc;tre &agrave; un moment ou &agrave; un autre.
        C&rsquo;est ce que j&rsquo;ai pu observer &agrave; la sortie de
        l&rsquo;h&ocirc;pital psychiatrique&nbsp;: le retour de la psychose
        hypocondriaque (inqui&eacute;tude sur la prostate cette fois) qui a
        heureusement disparu assez rapidement, en quelques semaines.
    </p>
    <p align="justify">
        Ces derni&egrave;res ann&eacute;es de stress tr&egrave;s
        intense, la psychose tend &agrave; revenir tr&egrave;s r&eacute;guli&egrave;rement,
        trop r&eacute;guli&egrave;rement, signe probable d&rsquo;un psychisme
        affaibli, r&eacute;ceptif. D&eacute;j&agrave; en 2016, lors d&rsquo;une
        fistule anale tr&egrave;s douloureuse, je pensais essentiellement
        &laquo;&nbsp;cancer&nbsp;&raquo;. Le moindre grain de beaut&eacute;
        apparaissant, je pense m&eacute;lanome.
    </p>
    <p align="justify">
        En 2018, &agrave; deux reprises, j&rsquo;ai &eacute;t&eacute;
        victime &agrave; nouveau de cette psychose. D&eacute;j&agrave; en
        mars/avril/mail (approximativement), j&rsquo;ai dout&eacute; de ma
        prostate, de ma vessie, de mes testicules, suspectant une tumeur au
        regard de douleurs r&eacute;currentes dans l&rsquo;entre-jambe, de
        soucis pour uriner &laquo;&nbsp;droit&nbsp;&raquo; et de la fr&eacute;quence
        de mes aller-retours aux toilettes. J&rsquo;ai d&ucirc; me faire un
        auto-touch&eacute; rectal pour me rassurer ainsi que la panoplie
        d&rsquo;examens (RDV chez le g&eacute;n&eacute;raliste,
        &eacute;chographie&hellip;). Apr&egrave;s l&rsquo;&eacute;chographie,
        (pourtant rat&eacute;e &eacute;tant donn&eacute; mon incapacit&eacute;
        &agrave; retenir l&rsquo;urine), j&rsquo;ai fini ou plut&ocirc;t mon
        cerveau a fini par passer &agrave; autre chose, mettant un terme aux
        fortes inqui&eacute;tudes/souffrances psychiques.
    </p>
    <p align="justify">
        Plus tard, &agrave; l&rsquo;automne 2018,
        l&rsquo;hyperacousie, les acouph&egrave;nes, un claquement r&eacute;gulier
        au niveau du tympan, ainsi qu&rsquo;une fatigue tr&egrave;s forte et
        de violents maux de t&ecirc;te m&rsquo;ont fait suspecter une tumeur
        au niveau des oreilles. G&eacute;n&eacute;raliste puis sp&eacute;cialiste
        puis IRM ont confirm&eacute; l&rsquo;absence de neurinome. Notons que
        -fait rare car internet en g&eacute;n&eacute;ral n&rsquo;aide pas-,
        une phrase trouv&eacute;e sur internet et d&eacute;crivant
        pr&eacute;cis&eacute;ment mes sympt&ocirc;mes (d&eacute;r&egrave;glement
        d&rsquo;un muscle tenseur du tympan pour des causes multifactorielles
        sans gravit&eacute;) m&rsquo;a largement rassur&eacute; et a stopp&eacute;
        l&rsquo;hypocondrie instantan&eacute;ment.
    </p>
    <p align="justify">
        En ce d&eacute;but d&rsquo;ann&eacute;e 2019, le
        niveau de la psychose est relativement bas mais bien pr&eacute;sent
        n&eacute;anmoins, en sourdine, avec quelques doutes sur de nouveaux
        grains de beaut&eacute; et ces douleurs au dos et au ventre menant,
        apr&egrave;s &laquo;&nbsp;d&eacute;rive&nbsp;&raquo;, &agrave; l&rsquo;id&eacute;e
        de tumeur de l&rsquo;estomac&hellip; Voil&agrave; pour l&rsquo;historique.
    </p>
    <h2>Analyse et traitement</h2>
    <p align="justify">
        L&rsquo;hypocondrie est une maladie mentale c&rsquo;est
        &agrave; dire une maladie qui touche &agrave; l&rsquo;imaginaire. Une
        imagination d&eacute;bordante extrapole, surinterpr&egrave;te,
        &eacute;tablie des pr&eacute;dictions sur le futur &agrave; partir de
        quelques signes ou sympt&ocirc;mes peu significatifs. Mon cerveau
        trace des lignes futures imaginaires qui sont les lignes d&eacute;crivant
        la maladie grave, la souffrance de soi-m&ecirc;me, de ses proches
        inquiets puis d&eacute;bouchant sur la mort. La connaissance
        rationnelle du fonctionnement de l&rsquo;hypocondrie ne suffit pas &agrave;
        la gu&eacute;rir. Quand elle se met en place, il est tr&egrave;s
        difficile de la combattre, de la contredire ou de la faire taire car
        elle demande, elle impose d&rsquo;&ecirc;tre &eacute;cout&eacute;e&nbsp;:
        c&rsquo;est l&rsquo;&eacute;pisode hypocondriaque. Le pattern de base
        des pens&eacute;es est &laquo;&nbsp;<i>
            les autres fois, oui c&rsquo;&eacute;tait
            de l&rsquo;hypocondrie&nbsp; mais cette fois, c&rsquo;est s&ucirc;r,
            c&rsquo;est la maladie,
        </i><i>la vraie</i>&nbsp;&raquo;&nbsp;c&rsquo;est
        pourquoi la raison n&rsquo;offre que peu d&rsquo;aide. Ainsi
        l&rsquo;attracteur Corps est un des attracteurs les plus douloureux
        (apr&egrave;s l&rsquo;attracteur M&eacute;taphysique) d&rsquo;une
        part et difficilement contr&ocirc;lable d&rsquo;autre part.
    </p>
    <p align="justify">
        Voici une check-liste de &laquo;&nbsp;trucs&nbsp;&raquo;
        qui aident un peu &agrave; souffrir moins, &agrave; reprendre le
        contr&ocirc;le:
    </p>
    <ul>
        <li />
        <p align="justify">
            brancher un scope en mode analyse pour
            d&eacute;tecter l&rsquo;attracteur et permettre un l&eacute;ger
            recul et une r&eacute;cup&eacute;ration des donn&eacute;es malgr&eacute;
            sa puissance et son rayon d&rsquo;action.
        </p>
        <li />
        <p align="justify">
            Accepter la pr&eacute;sence de la psychose
            et accepter qu&rsquo;il faille du temps pour qu&rsquo;elle
            disparaisse ou s&rsquo;att&eacute;nue.
        </p>
        <li />
        <p align="justify">
            &laquo;&nbsp;<i>
                Et l&rsquo;on donne plus de
                prise au danger en lui tournant le dos
            </i>&nbsp;&raquo;. Il faut
            rapidement rep&eacute;rer l&rsquo;attracteur, l&rsquo;admettre, en
            parler &agrave; soi-m&ecirc;me, en parler aux autres (crucial&nbsp;;
            ne pas l&rsquo;enfermer en soi) c&rsquo;est &agrave; dire aux
            m&eacute;decins (qui trouveront souvent une petite phrase rassurante
            qui commencera &agrave; en att&eacute;nuer les sympt&ocirc;mes). Si
            des examens sont prescrits, il faut les faire sans attendre et sans
            se poser de questions (id&eacute;alement) comme le font la plupart
            des patients normaux (ils s&rsquo;en remettent &agrave; leur m&eacute;decin
            et &eacute;vitent d&rsquo;extrapoler).
        </p>
        <li />
        <p align="justify">
            La psychose hypocondriaque ne repose pas
            tant sur une angoisse de mort que sur une angoisse d&rsquo;incertitude.
            Ce qui p&egrave;se et fait le plus souffrir ce n&rsquo;est pas
            d&rsquo;&ecirc;tre malade ou de devoir se r&eacute;signer &agrave;
            mourir, mais l&rsquo;incertitude qui emp&ecirc;che de se projeter
            c&rsquo;est &agrave; dire de penser son moi &agrave; court, moyen ou
            long terme (ce qui est impossible si le moi doit dispara&icirc;tre
            ou doit se concentrer sur sa disparition). Voil&agrave; pourquoi il
            faut chercher &agrave; tout prix &agrave; mettre fin &agrave; cette
            incertitude en consultant rapidement.
        </p>
        <li />
        <p align="justify">
            Les souffrances de la psychose diminuent si
            l&rsquo;on accepte la mort. Pour cela, un travail de fond en
            sto&iuml;cisme m&rsquo;a souvent aid&eacute; ces derniers temps. Et
            je me vois lire les r&eacute;sultats de mes derniers examens IRM
            sans plus d&rsquo;inqui&eacute;tude que cela, ayant d&eacute;j&agrave;
            anticip&eacute; une mauvaise nouvelle et ayant d&eacute;j&agrave;
            anticip&eacute; toutes les lignes de pens&eacute;es sto&iuml;ciennes
            pour la g&eacute;rer et l&rsquo;accepter au mieux. Bref, essayer
            d&rsquo;aller &agrave; la mort dans une relative s&eacute;r&eacute;nit&eacute;.
            Ainsi la phrase &laquo;&nbsp;<i>
                nul ne r&egrave;gle bien sa vie si
                d&rsquo;abord il ne la m&eacute;prise
            </i>&nbsp;&raquo; ne contient
            pas uniquement une composante n&eacute;gative (comme on pourrait le
            croire au premier regard), il y a une composante positive qui
            att&eacute;nue quelque peu les angoisses de mort. En effet, si je
            comprends et rep&egrave;re en quoi ma vie contient une composante
            m&eacute;prisable et si je comprends que ce m&eacute;pris offre une
            composante positive en m&rsquo;aidant &agrave; structurer mon agir
            &laquo;&nbsp;vivant&nbsp;&raquo; mais &eacute;galement mon rapport &agrave;
            la mort, alors la vie et &eacute;ventuellement la maladie deviennent
            plus facile &agrave; vivre. Ainsi en structurant son psychisme avec
            du sto&iuml;cisme, on enl&egrave;ve autant de zones psychiques sur
            lesquelles l&rsquo;hypocondrie peut b&acirc;tir son nid.
        </p>
    </ul>
    <p align="justify">
        Un des probl&egrave;mes de l&rsquo;attracteur
        Corps c&rsquo;est qu&rsquo;il offre de l&rsquo;espace &agrave; la
        mise en place des autres attracteurs. Et les souffrances atteignent
        leur plus au niveau quand je suis strick&eacute; par plusieurs
        attracteurs en m&ecirc;me temps&nbsp;: par exemple, l&rsquo;attracteur
        M&eacute;taphysique, l&rsquo;attracteur Ressentiment et l&rsquo;attracteur
        Corps. La charge men&eacute;e conjointement par ces attracteurs est
        susceptible d&rsquo;effriter mon psychisme, de l&rsquo;an&eacute;antir
        et de me plonger dans la terreur (souffrance terrible) ou -moins
        douloureux mais plus long-, dans un ennui / d&eacute;pression /
        m&eacute;lancolie / d&eacute;sespoir qui supprime tout d&eacute;sir,
        toute envie ou toute facult&eacute; d&rsquo;agir et qui peut me mener
        au suicide si je n&rsquo;y prend pas garde (les moments de terreur
        sont plus dangereux encore). C&rsquo;est donc dans sa possible
        association aux autres attracteurs que l&rsquo;attracteur Corps se
        r&eacute;v&egrave;le particuli&egrave;rement dangereux. Ce sont dans
        ces zones que je suis susceptible de &laquo;&nbsp;sortir de <i>Sophia</i>&nbsp;&raquo;,
        de ne plus trouver le chemin de retour et donc de souffrir
        terriblement. L&rsquo;exp&eacute;rience me l&rsquo;a d&eacute;j&agrave;
        montr&eacute; plusieurs fois, malheureusement.
    </p>
    <p align="justify">
        Il y a, paradoxalement et comme souvent, une
        dimension positive dans l&rsquo;attracteur Corps. Le probl&egrave;me
        de l&rsquo;hypocondriaque c&rsquo;est qu&rsquo;il a plusieurs &laquo;&nbsp;moi&nbsp;&raquo;
        en lui dont un, le <i>moi qui croit fermement qu&rsquo;il est malade</i>&nbsp;
        est devenu trop fort. Les autres &laquo;&nbsp;<i>moi</i><i>s&nbsp;&raquo;</i><i>
        </i>sont donc contraints de livrer la guerre, d&rsquo;accepter de
        perdre des batailles, de g&eacute;rer la r&eacute;sistance, en clair,
        d&rsquo;accepter et d&rsquo;apprendre &agrave; subir les p&eacute;riodes
        de malheur en attendant le jour o&ugrave; le <i>moi malade</i> perdra
        sa l&eacute;gitimit&eacute; &agrave; d&eacute;crire &laquo;&nbsp;les
        signes&nbsp;&raquo; comme l&rsquo;assurance d&rsquo;une maladie
        grave.
    </p>
    <p align="justify">
        Mais alors o&ugrave;
        est le positif&nbsp;? Le positif c&rsquo;est que lorsque survient
        l&rsquo;oppression politique et/ou m&eacute;taphysique, le psychisme
        de l&rsquo;hypocondriaque
        a d&eacute;j&agrave; l&rsquo;exp&eacute;rience d&rsquo;une guerre. Et
        d&rsquo;une guerre terrible puisqu&rsquo;il s&rsquo;agit de lutter
        contre soi-m&ecirc;me. De
        lutter contre un &laquo;&nbsp;moi&nbsp;&raquo;
        trop fort. Et bien s&ucirc;r
        l&rsquo;oppression et
        l&rsquo;hypocondrie
        ont en commun de livrer
        bataille -au moins partiellement- sur
        le terrain de l&rsquo;imaginaire&nbsp;:
        la
        volont&eacute; de s&rsquo;accaparer et
        de contr&ocirc;ler le vrai,
        de <i>d&eacute;cider</i><i>
        </i>ce qui est vrai de
        ce qui ne l&rsquo;est pas, de
        ce qu&rsquo;il faut penser ou ne pas penser. Ainsi
        dans toutes les formes d&rsquo;oppressions
        politiques ou m&eacute;taphysiques (impliquant autrui ou <i>
            quelque
            chose d&rsquo;autre)
        </i>, on
        retrouve cette composante de guerre interne se livrant dans
        l&rsquo;imaginaire. Et avoir d&eacute;j&agrave; eu &agrave; r&eacute;sister
        &agrave; un&nbsp;&laquo;&nbsp;<i>moi malade trop fort</i>&nbsp;&raquo;
        aide, me semble-t-il,
        &agrave; mieux r&eacute;sister
        &agrave; l&rsquo;oppression.

    </p>
    <p align="justify">
        Il y a deux
        autres pens&eacute;es
        r&eacute;currentes qui reviennent souvent quand je suis happ&eacute;
        par l&rsquo;attracteur Corps.
        Pens&eacute;es qu&rsquo;il faut retranscrire pour &ecirc;tre juste &agrave;
        l&rsquo;&eacute;gard de ce moi en souffrance qui demande &agrave;
        &ecirc;tre &eacute;cout&eacute;&nbsp;:
    </p>
    <p align="justify">
        A
        chaque fois que j&rsquo;ai &eacute;t&eacute; victime
        d&rsquo;une violente crise
        hypocondriaque,
        j&rsquo;ai toujours consid&eacute;r&eacute; que le bonheur &eacute;tait
        justement le fait de ne pas &ecirc;tre en crise. Tout comme on ne
        con&ccedil;oit la chance et
        le bonheur que
        repr&eacute;sente le fait de
        ne pas souffrir physiquement que quand on se
        retrouve en pleine rage de
        dent. Sinon, la
        non-souffrance physique semble acquise et ne semble donc pas
        participer activement au bonheur. Cela
        va plus loin. Le psychisme happ&eacute; dans l&rsquo;attracteur Corps
        demande express&eacute;ment au psychisme sortie de l&rsquo;attracteur
        Corps
        (si cela arrive car rappelons que le psychisme happ&eacute; se croit
        mourant)
        de voir et de prendre
        son bonheur sans tarder
        et de m&eacute;priser les
        broutilles de la vie qui nous agacent ou nous irritent y compris
        l&rsquo;attracteur ressentiment/col&egrave;re et donc certaines
        composantes voire toutes les composantes de l&rsquo;oppression. Ce
        moi en souffrance a donc peu
        de consid&eacute;ration pour une <i>
            op&eacute;ration de
            secours
        </i> jug&eacute;e
        peu sage, insuffisamment orthogonale et susceptible de dissimuler
        des passions. Une
        fois sortie de l&rsquo;attracteur Corps,
        il est difficile
        de conserver
        cet angle de
        vue, de le maintenir &agrave;
        un haut niveau de &laquo;&nbsp;cr&eacute;dit&nbsp;&raquo;.
        La
        vie reprend donc
        ses droits, avec des niveaux de malheurs plus faibles
        que ceux exp&eacute;riment&eacute;s dans l&rsquo;attracteur Corps,
        et donc avec le retour de
        pens&eacute;es toujours promptes &agrave; s&rsquo;irriter de peu.
    </p>
    <p align="justify">
        En guise de
        conclusion, je reprendrais
        les &eacute;l&eacute;ments
        principaux du texte. L&rsquo;attracteur
        Corps
        est un attracteur redoutable qui m&rsquo;a fait et me fera
        probablement souffrir toute ma vie. Sa dangerosit&eacute; est
        maximum quand il se surajoute
        &agrave; d&rsquo;autres attracteurs avec risque de destruction
        temporaire du
        psychisme menant
        entre-autre &agrave; l&rsquo;apathie.
        Il n&rsquo;existe pas de rem&egrave;de miracle pour le r&eacute;duire
        ou le contr&ocirc;ler int&eacute;gralement. Il faut parfois accepter
        qu&rsquo;il se mette en place et toujours le regarder droit dans les
        yeux. L&rsquo;aide d&rsquo;autrui pour le faire
        dispara&icirc;tre a largement
        fait ses preuves. Le sto&iuml;cisme participe
        &agrave; limiter la souffrance.
        Cet attracteur
        contiendrait vaguement une composante positive dans sa facult&eacute;
        de renforcer l&rsquo;&acirc;me et
        donc permettrait de mieux
        r&eacute;sister &agrave; l&rsquo;oppression.
        Il demande &agrave; &ecirc;tre &eacute;cout&eacute; sur deux points&nbsp;:
        accorder peu d&rsquo;importance aux broutilles y compris l&rsquo;attracteur
        ressentiment (1)
        et il
        semble accorder peu de cr&eacute;dit &agrave; une op&eacute;ration de
        secours (2).
        Mon moi stable actuel accepte de donner du poids &agrave;
        (1) et accepte de consid&eacute;rer
        (2) suffisamment
        pour que tout agir qui s&rsquo;en encarterait lui soit
        confront&eacute;/crois&eacute;
        de mani&egrave;re la plus honn&ecirc;te possible afin
        d&rsquo;extraire ce qui peut &ecirc;tre extrait, de
        r&eacute;orienter ce qui peut &ecirc;tre r&eacute;orient&eacute;,
        le tout pour honorer
        l&rsquo;imp&eacute;ratif de prudence.
    </p>
    <p align="justify">
        Il m&rsquo;est
        plaisant d&rsquo;&eacute;crire que,
        aujourd&rsquo;hui,
        l&rsquo;attracteur Corps
        est suffisamment loin de moi pour que je puisse profiter un petit peu
        de l&rsquo;existence. Et je
        vais bien-s&ucirc;r
        essayer comme &agrave; mon
        habitude de railler et de m&eacute;priser l&rsquo;attracteur
        ressentiment en me rappelant
        &agrave; quel point il est bon de vivre sans souffrir
        physiquement ou d&rsquo;hypocondrie (i.e &laquo;&nbsp;rage
        de dent&nbsp;&raquo; physique
        ou psychique).
    </p>
    <p align="justify">Courage Guillaume.</p>
    <p align="justify">Guillaume. DS.</p>

</article>
    {% endblock %}
