{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block app_content %}

<article class="MonArticle">

    <h1>L'attracteur Trojan</h1>
    <h2>Historique</h2>
    <p align="justify">
        On peut consid&eacute;rer que l&rsquo;apparition
        de l&rsquo;attracteur Trojan remonte &agrave; la premi&egrave;re
        rencontre avec les pompiers qui doit se situer au alentour du 31
        janvier 2014. A partir de l&agrave;, une volont&eacute; claire, un
        d&eacute;sir tr&egrave;s ardent d&rsquo;&ecirc;tre &laquo;&nbsp;recrut&eacute;&nbsp;&raquo;
        par cette &laquo;&nbsp;fameuse&nbsp; agence s&rsquo;int&eacute;ressant
        &agrave; moi&nbsp;&raquo; pointera le bout de son nez et durera de
        longs mois. Le moteur de ce d&eacute;sir, de cette pseudo-passion
        n&rsquo;est pas l&rsquo;ambition ni la volont&eacute; de puissance ou
        de pouvoir sur autrui mais plut&ocirc;t un besoin de reconnaissance
        (1), l&rsquo;attrait de la nouveaut&eacute; et du secret (2), l&rsquo;ego
        boost&eacute; avec la fiert&eacute; d&rsquo;avoir &eacute;t&eacute;
        &laquo;&nbsp;rep&eacute;r&eacute;&nbsp;&raquo; (3) et la possibilit&eacute;
        d&rsquo;envisager une situation professionnelle stable et donc une
        s&eacute;curit&eacute; sur l&rsquo;avenir (4). Pour ce dernier point,
        ce n&rsquo;est pas tant un d&eacute;sir personnel que le d&eacute;sir
        de satisfaire mon entourage pour avoir &laquo;&nbsp;la paix&nbsp;&raquo;.
    </p>
    <p align="justify">
        Le d&eacute;sir d&rsquo;&ecirc;tre &laquo;&nbsp;recrut&eacute;&nbsp;&raquo;
        &eacute;tant si fort, et ce y compris apr&egrave;s l&rsquo;internement,
        je peux consid&eacute;rer mon psychisme &agrave; cette p&eacute;riode
        comme extr&ecirc;mement fragile et perm&eacute;able. En tirant
        correctement sur les bonnes ficelles au bon moment et en particulier
        sur celle de la reconnaissance, je ne peux pas exclure la possibilit&eacute;
        d&rsquo;implantation d&rsquo;un <i>trojan</i> dans mon esprit.
        &Eacute;videmment, &eacute;tant donn&eacute; la pilule &agrave;
        avaler (mensonge sur tout, pers&eacute;cution de ceux qui parlent,
        suppression de l&rsquo;ind&eacute;pendance, de la libert&eacute;
        individuelle, logique unitaire, totalitaire&hellip;), je ne peux pas
        non plus pr&eacute;tendre que ce <i>trojan</i> se serait implant&eacute;
        aussi facilement. Mais sans information &agrave; ce moment-l&agrave;
        sur le surhomme, une grande partie de mon esprit &eacute;tait
        r&eacute;ceptive, pr&ecirc;te &agrave; suivre et donc sous le charme.
    </p>
    <p align="justify">
        Heureusement, d&eacute;s le d&eacute;but, prudence
        et m&eacute;fiance sont pr&eacute;sentes gr&acirc;ce &agrave; la
        forte influence qu&rsquo;exerce la th&eacute;orie anarchiste sur ma
        pens&eacute;e. Un d&eacute;doublement de la personnalit&eacute; se
        met en place avec des d&eacute;sirs contradictoires et la n&eacute;cessit&eacute;
        de jouer sur plusieurs tableaux &agrave; la fois. L&rsquo;impossibilit&eacute;
        de me taire li&eacute;e &agrave; l&rsquo;alcool d&rsquo;une part et
        par pr&eacute;f&eacute;rence intuitive pour la v&eacute;rit&eacute;
        d&rsquo;autre part font pencher la balance du cot&eacute; de
        l&rsquo;ind&eacute;pendance et de la libert&eacute;. Cela me m&egrave;ne
        tout droit &agrave;  l&rsquo;internement du mois de juillet 2014.
    </p>
    <p align="justify">
        Le cauchemar de l&rsquo;internement et la
        d&eacute;couverte de mensonges politiques massifs &agrave; partir de
        l&rsquo;automne 2014 diminuent progressivement le d&eacute;sir d&rsquo;&ecirc;tre
        &laquo;&nbsp;recrut&eacute;&nbsp;&raquo; et augmentent le libertaire
        en moi, avec la volont&eacute; de dire la v&eacute;rit&eacute;.
        Pendant les 8 premiers mois de l&rsquo;ann&eacute;e 2015, je subis
        assez douloureusement les effets de ce d&eacute;doublement de la
        personnalit&eacute; que je qualifie de territorialisation et
        d&eacute;territorialisation. Tr&egrave;s t&ocirc;t, j&rsquo;ai
        conscience que les mensonges politiques que j&rsquo;ai d&eacute;couvert
        me baisent la gueule, baisent ma vie. Car je sais que moralement et
        philosophiquement, je n&rsquo;ai pas d&rsquo;autres choix que
        d&rsquo;&oelig;uvrer pour transmettre ces v&eacute;rit&eacute;s aux
        autres et je sais bien qu&rsquo;on ne me laissera pas faire. La
        gloire de se glisser dans la peau d&rsquo;un lanceur d&rsquo;alerte
        repr&eacute;sente peu de chose par rapport &agrave; ce fait que je me
        sais &laquo;&nbsp;bais&eacute;&nbsp;&raquo;&nbsp;: le<i>
            r&eacute;sistant
        </i> qui est en moi est contraint d&rsquo;avancer
        vers l&rsquo;inconnu tout en sachant que la ligne suivie, en plus
        d&rsquo;&ecirc;tre dangereuse, n&rsquo;a aucune chance de mener nul
        part.
    </p>
    <p align="justify">
        Ainsi donc, il me faut une autre vision des choses
        en parall&egrave;le pour tenir le coup, un angle plus positif, plus
        enfantin et plus &eacute;go&iuml;ste&nbsp;: celui du <i>collabo</i>.
        Une petite partie de mon esprit se rassure donc en se disant que ce
        n&rsquo;est qu&rsquo;une sorte de jeu, un bras de fer dans lequel,
        peut-&ecirc;tre, je finirai par faire entendre la v&eacute;rit&eacute;
        &agrave; mes proches et r&eacute;cup&eacute;rer ainsi ma dignit&eacute;
        (1) en obtenant un poste ici ou l&agrave; (2). Car, &agrave; ce
        moment-l&agrave;, je pense &laquo;&nbsp;service&nbsp;&raquo; et non
        pas &laquo;&nbsp;surhomme&nbsp;&raquo; et dans mon esprit, ce service
        a une dette envers moi &eacute;tant donn&eacute; ce qu&rsquo;il a os&eacute;
        me faire. En effet, comment ce service &laquo;&nbsp;id&eacute;alis&eacute;&nbsp;&raquo;
        car &laquo;&nbsp;s&rsquo;int&eacute;ressant &agrave; moi&raquo;
        aurait-il pu commettre une faute morale aussi abjecte&nbsp;? Il ne
        pouvait s&rsquo;agir que d&rsquo;un malentendu, d&rsquo;un rat&eacute;.
        On se rapproche ici du syndrome de Stockholm o&ugrave; l&rsquo;on
        veut pouvoir trouver des excuses, &eacute;prouver de l&rsquo;empathie
        envers son preneur d&rsquo;otage. Ainsi les termes <i>
            jeu&nbsp;,
            flirt,&nbsp;humour,&nbsp;
        </i><i>
            dette d&rsquo;un service emb&ecirc;t&eacute;
            par sa faute
        </i>&nbsp;sont autant de s<i>table</i> auquel l&rsquo;esprit
        s&rsquo;accroche quand il en a besoin pour avancer. Et rapidement, je
        comprends que deux <i>stables</i> sont en comp&eacute;tition et que
        &laquo;&nbsp;la v&eacute;rit&eacute;&nbsp;&raquo; pourrait devenir
        celle que je d&eacute;ciderais&nbsp;: la bataille pour faire &eacute;clater
        la v&eacute;rit&eacute; face &agrave; l&rsquo;infamie d&rsquo;un
        service qui laisse interner des innocents, m&egrave;ne des recherches
        sur des armes biologiques (1) ou bien la r&eacute;conciliation de
        deux parties qui ont int&eacute;r&ecirc;t &agrave; s&rsquo;unir pour
        avancer ensemble vers le bien (2). Rapidement donc je comprends, par
        la schizophr&eacute;nie de mon psychisme, le probl&egrave;me pos&eacute;
        par la notion de &laquo;&nbsp;v&eacute;rit&eacute;&nbsp;&raquo; et
        pourquoi cette derni&egrave;re est &eacute;crite par les vainqueurs.
        La <i>v&eacute;rit&eacute; </i>devient souvent ce qui <i>arrange</i>.
        Ainsi cette derni&egrave;re peut &ecirc;tre relative, multiple,
        complexe&nbsp;: cela est <i>vrai</i>&nbsp;. Parfois aussi, souvent
        m&ecirc;me heureusement, elle est simple et unique.
    </p>
    <p align="justify">
        Cette schizophr&eacute;nie interne illustre le
        manque d&rsquo;herm&eacute;tisme de mon psychisme vis &agrave; vis du
        surhomme&nbsp;: la possibilit&eacute; th&eacute;orique d&rsquo;implantation
        d&rsquo;un <i>trojan</i> existe
        &eacute;tant donn&eacute; l&rsquo;angle &laquo;&nbsp;collabo/r&eacute;conciliation&nbsp;&raquo;.
        La corde sur laquelle le surhomme aurait pu tirer pour faciliter
        cette implantation est la
        r&eacute;cup&eacute;ration de ma
        dignit&eacute; vis &agrave; vis des mes proches. &Eacute;videmment,
        cela &eacute;tait
        difficilement envisageable car
        cela aurait consist&eacute;
        &agrave; dire la v&eacute;rit&eacute;, d&rsquo;une mani&egrave;re ou
        d&rsquo;une autre.
    </p>
    <p align="justify">
        A l&rsquo;automne 2015, le surhomme sort de
        l&rsquo;obscurit&eacute;. La pi&egrave;ce de th&eacute;&acirc;tre que
        j&rsquo;irai voir avec Anne-Laure et &Eacute;tienne me laissera
        penser que le surhomme g&egrave;re la situation par la douceur et le
        rire (1) en m&rsquo;accordant la reconnaissance (2). S&rsquo;il s&rsquo;en
        &eacute;tait tenu &agrave; cette ligne-l&agrave;, je lui aurai mang&eacute;
        dans la main. C&rsquo;est le devoir des philosophes que de s&rsquo;incliner
        face &agrave; la douceur et au rire. Me sentant ridicule, d&eacute;fait,
        j&rsquo;&eacute;tais pr&ecirc;t &agrave; effacer l&rsquo;ardoise de
        l&rsquo;internement si ils me redonnaient ce qu&rsquo;il m&rsquo;avait
        pris&nbsp;: mon boulot. On retombe ici sur le profond &laquo;&nbsp;<i>
            La
            pens&eacute;e d&rsquo;un homme c&rsquo;est son traitement
        </i>&nbsp;&raquo;
        de Proudhon. Reconnu, moqu&eacute; avec douceur, retrouvant un
        travail, une dignit&eacute; vis &agrave; vis des mes proches, ma
        perception, ma pens&eacute;e du surhomme aurait pu commencer
        positivement. Ainsi, au tout d&eacute;but de la sortie du surhomme de
        l&rsquo;obscurit&eacute;, il existait peut-&ecirc;tre un chemin
        menant &agrave; l&rsquo;implantation d&rsquo;un <i>trojan</i> dans
        mon esprit. M&ecirc;me si, encore une fois, je ne vois pas bien
        comment j&rsquo;aurai pu avaler la pilule d&eacute;crite
        pr&eacute;c&eacute;demment.
    </p>
    <p align="justify">
        Le fait de me traiter de pute &agrave; grande
        &eacute;chelle, le second internement avec menace de torture physique
        pendant la nuit puis l&rsquo;ersatz de simulacre d&rsquo;ex&eacute;cution
        du 6 d&eacute;cembre auront raison de ma sant&eacute; mentale. Je ne
        penserais et ne ferais plus rien de coh&eacute;rent pendant de longs
        mois, totalement d&eacute;boussol&eacute; et terroris&eacute;,
        pensant parfois avoir commis quelque chose de tr&egrave;s grave,
        d&rsquo;&ecirc;tre le dernier des salopards et m&eacute;rit&eacute;
        une punition, pensant plus souvent n&eacute;anmoins avoir &agrave;
        faire &agrave; une terrible dictature instaurant le silence par la
        terreur.
    </p>
    <p align="justify">
        C&rsquo;est ainsi que je d&eacute;couvre qu&rsquo;un
        surhomme peut faire croire n&rsquo;importe quoi &agrave; n&rsquo;importe
        qui. Et en particulier, il peut persuader un homme de sa propre
        culpabilit&eacute; et lui faire avouer n&rsquo;importe quoi. Et pas
        seulement avec le maniement des objets &laquo;&nbsp;peur&nbsp;&raquo;
        ou &laquo;&nbsp;terreur&nbsp;&raquo;. Il me faudra les quelques mois
        du printemps 2016 pour r&eacute;cup&eacute;rer d&eacute;j&agrave; une
        envie de vivre puis un semblant de stabilit&eacute; psychique. Mais
        j&rsquo;&eacute;tais rang&eacute;, d&eacute;fait, perdant, parfois
        honteux&nbsp;: je n&rsquo;avais pas de nord et je ne savais donc pas
        vraiment o&ugrave; j&rsquo;allais.
    </p>
    <p align="justify">
        Petit &agrave; petit n&eacute;anmoins rena&icirc;t
        l&rsquo;id&eacute;e de dire la v&eacute;rit&eacute; par le dessin. La
        lecture de Fahrenheit 451 et la discussion avec M&eacute;lanie
        relance le viol psychique puis la terreur. Pourtant un semblant de
        carapace psychique appara&icirc;t et l&rsquo;impact de la terreur est
        moindre par rapport au mois de d&eacute;cembre pr&eacute;c&eacute;dent&nbsp;:
        la diff&eacute;rence&nbsp;? L&rsquo;acceptation de la mort et de me
        faire buter. Car &agrave; ce moment-l&agrave;, ce retour de la
        terreur, c&rsquo;est la goutte d&rsquo;eau qui fait d&eacute;border
        le vase. Je trouve ainsi la force de &laquo;&nbsp;fuguer&nbsp;&raquo;
        &agrave; Saint Jacques de Compostelle. Une fois dans le train pour
        les Pyr&eacute;n&eacute;es, mon psychisme gagne en herm&eacute;tisme.
        Je sens que je ne peux pas et ne veux pas participer &agrave; &ccedil;a.
        Quelqu&rsquo; en soit le prix.
    </p>
    <p align="justify">
        De retour &agrave; Paris, fin juin, je regarde de
        loin, le spectacle, le cirque &laquo;&nbsp;Antillais&nbsp;&raquo; au
        GEM que j&rsquo;interpr&egrave;te comme une invitation &agrave;
        rejoindre l&rsquo;unit&eacute; dans le spectacle. Car cela fait d&eacute;j&agrave;
        plus de deux mois que ma r&eacute;ponse est NON. Et elle n&rsquo;a
        plus jamais chang&eacute;. M&ecirc;me les quelques semaines de
        terreurs m&eacute;taphysiques ne repr&eacute;sentent pas une entorse
        &agrave; ce NON car elles ne sont pas un OUI mais un &laquo;&nbsp;<i>
            je
            ne veux plus &ecirc;tre, faites ce que vous voulez de moi
        </i>&nbsp;&raquo;.
    </p>
    <p align="justify">
        A partir du mois de novembre 2016, je retrouve la
        facult&eacute; de parler, de dire la v&eacute;rit&eacute;. Je ne le
        faisais pas par peur, pour ne pas attiser les foudres du surhomme
        mais je me rends compte que je ne pourrais pas vivre sans parler. Et
        je le fais donc &agrave; Longo Mai puis en rentrant de Longo Mai, en
        parlant &agrave; mes parents. A partir de l&agrave;, je n&rsquo;ai
        plus jamais cess&eacute; de m&rsquo;autoriser &agrave; dire la v&eacute;rit&eacute;
        oralement. J&rsquo;en ai m&ecirc;me fait une r&egrave;gle &laquo;&nbsp;<i>
            tu
            as le droit de dire la v&eacute;rit&eacute;
        </i>&nbsp;&raquo;. Et je
        l&rsquo;ai donc fait autant de fois que je l&rsquo;ai estim&eacute;
        n&eacute;cessaire.
    </p>
    <p align="justify">
        L&rsquo;inclusion de flatterie dans les messages
        envoy&eacute;s remonte probablement au d&eacute;part. Mais ce n&rsquo;est
        que bien plus tard que j&rsquo;identifie la possibilit&eacute; qu&rsquo;il
        s&rsquo;agisse d&rsquo;une forme de test, d&rsquo;&eacute;preuve&nbsp;:
        faire l&rsquo;ANE avec la carotte et le b&acirc;ton c&rsquo;est &agrave;
        dire l&rsquo;ENA. Une formation pour les hommes politiques de demain.
        En janvier 2017, je d&eacute;cide donc d&rsquo;inclure des
        verrouillages par le haut c&rsquo;est &agrave; dire des verrous
        anti-ambition au cas o&ugrave; le fin mot de l&rsquo;histoire serait
        l&rsquo;ANE/ENA. Le premier verrou se nomme &laquo;&nbsp;<i>
            matin/
        </i><i>Fahrenheit</i><i> 45</i><i>1</i><i>/</i><i>
            aucun doute&nbsp;&raquo;.
        </i>C&rsquo;est un
        verrou fort qui fonctionne
        avec un codage arbitraire, que je suis seul &agrave; conna&icirc;tre,
        et de r&eacute;alisation impossible en T1&nbsp;: il n&rsquo;y a qu&rsquo;en
        T2 qu&rsquo;il existe une ouverture possible. Il
        s&rsquo;agit de v&eacute;rifier si des &eacute;l&eacute;ments, fix&eacute;s
        &agrave; l&rsquo;avance, sont r&eacute;unis pour accepter un
        pouvoir. L&rsquo;avantage
        d&rsquo;un verrou de ce type est que le NON oppos&eacute; n&rsquo;est
        pas fonction d&rsquo;un argumentaire philosophique ou politique et
        donc susceptible d&rsquo;&ecirc;tre d&eacute;fait par un argumentaire
        adverse. Le NON oppos&eacute; est cod&eacute; arbitrairement (du
        point de vue de T1), m&eacute;taphysiquement (du point de vue de
        T2)&nbsp;: il est donc <i>th&eacute;oriquement</i>
        beaucoup plus solide. On voit ici l&rsquo;avantage que procure la
        T2&nbsp;: il permet d&rsquo;&ecirc;tre <i>fou</i>
        dans le r&eacute;f&eacute;rentiel de T1. Or il n&rsquo;est
        <i>th&eacute;oriquement</i>
        pas si simple de casser les codes d&rsquo;un fou.
    </p>
    <p align="justify">
        Bien-s&ucirc;r,
        le probl&egrave;me vient du <i>th&eacute;oriquement</i>
        et durant les ann&eacute;es 2017 et 2018, &agrave; plusieurs
        reprises, je subis de fortes angoisses de crainte de ne pas &ecirc;tre
        assez fort, assez solide pour dire NON et garder le verrou bloqu&eacute;.
        Pour augmenter la probabilit&eacute; de r&eacute;sister &agrave; de
        fortes pressions et ici, en l&rsquo;occurrence, &agrave; de fortes
        flatteries, je cr&eacute;e la deuxi&egrave;me image des avions de
        chasse qui d&eacute;finit le niveau de pression suppos&eacute; auquel
        je dois pouvoir r&eacute;sister (c&rsquo;est une image qui fonctionne
        dans T1). Il est plac&eacute; &agrave; un niveau extr&ecirc;me.
    </p>
    <p align="justify">
        En novembre 2018 a lieu ma reddition aupr&egrave;s
        de Mme Hababou suite aux &eacute;v&eacute;nements du 21 novembre 2018
        relatifs &nbsp;&laquo;&nbsp;au pacte avec le diable&nbsp;&raquo;&nbsp;&nbsp;:
        en lui remettant les 3 exemplaires de l&rsquo;assurance maladie,
        j&rsquo;accepte par-l&agrave;, la mise en place d&rsquo;un trojan
        &laquo;&nbsp;politique&nbsp;&raquo; dans mon esprit. J&rsquo;accepte
        ainsi de faire tout ce qu&rsquo;on me demande et en l&rsquo;occurrence
        tout ce que me demande Mme Hababou&nbsp;: ne plus boire de caf&eacute;,
        boire de la fleur d&rsquo;oranger chaque soir, aller &agrave; la
        piscine, faire de la boxe, tout. J&rsquo;accepte la mort de mon
        &laquo;&nbsp;moi&nbsp;&raquo; et clame un &laquo;&nbsp;faites ce que
        vous voulez de moi&nbsp;&raquo; en priant pour que ceux qui
        m&rsquo;imposent cela soit ceux qui combattent le diable. Cette
        reddition a lieu en partie suite &agrave; une interpr&eacute;tation
        de la r&egrave;gle &laquo;&nbsp;<i>
            matin/farhenheit 451/aucun
            doute
        </i>&nbsp;&raquo;. Cette interpr&eacute;tation me pose encore
        question aujourd&rsquo;hui pour deux raisons&nbsp;:
    </p>
    <ul>
        <li />
        <p align="justify">
            elle est relative &agrave; une reddition
            (c&rsquo;est &agrave; dire &agrave; un d&eacute;verrouillage &laquo;&nbsp;&nbsp;par
            le bas&nbsp;&raquo;&nbsp;) alors que cette r&egrave;gle est un
            verrou anti-ambition cens&eacute;e pr&eacute;venir tout
            d&eacute;verrouillage par le haut.
        </p>
        <li />
        <p align="justify">
            J&rsquo;ai &eacute;t&eacute; contraint
            d&rsquo;ignorer la partie &laquo;&nbsp;aucun doute&nbsp;&raquo; car
            j&rsquo;avais un doute.
        </p>
    </ul>
    <p align="justify">
        Le probl&egrave;me pos&eacute; par le deuxi&egrave;me
        point est s&eacute;rieux. Il montre le cot&eacute; factice du verrou,
        la facilit&eacute; avec laquelle on peut le contourner, le casser,
        choisir l&rsquo;interpr&eacute;tation favorite etc. Avec le recul de
        maintenant plus d&rsquo;un an, je consid&egrave;re avoir probablement
        bien fait de suivre la r&egrave;gle tout en consid&eacute;rant que la
        r&egrave;gle &laquo;&nbsp;<i>aucun doute&nbsp;/ s&ucirc;r de soi</i>&raquo;
        doit, &agrave; l&rsquo;avenir, &ecirc;tre mieux respect&eacute;e.
    </p>
    <p align="justify">
        Quelques jours, quelques semaines apr&egrave;s la
        capitulation et sans que je me le dise explicitement, j&rsquo;ai
        r&eacute;cup&eacute;r&eacute; petit &agrave; petit mes facult&eacute;s
        mentales&nbsp;: le temps est pass&eacute; diminuant l&rsquo;influence
        de l&rsquo;attracteur m&eacute;taphysique sur mon psychisme. T2
        s&rsquo;&eacute;loignant, T1 a r&eacute;cup&eacute;r&eacute; de
        l&rsquo;espace et mon <i>moi&nbsp;r&eacute;sistant </i><i>
            sans trojan
        </i>est petit &agrave; petit r&eacute;apparu.
    </p>
    <p align="justify">
        Nous sommes les 22 mars 2019. Je n&rsquo;ai aucun
        <i>trojan</i> implant&eacute; dans l&rsquo;esprit. Les verrous du bas
        comme du haut sont op&eacute;rationnels.
    </p>
    <h2>Analyse et traitement</h2>
    <p align="justify">
        C&rsquo;est l&rsquo;attracteur le moins pr&eacute;sent
        en termes de <i>temps pass&eacute; dedans</i>, celui qui sollicite le
        moins de d&eacute;penses psychiques au point que j&rsquo;ai m&ecirc;me
        h&eacute;sit&eacute; &agrave; lui consacrer cet &eacute;crit.
        L&rsquo;attracteur <i>Trojan</i> est positionn&eacute; sur le terrain
        politique (T1) et non m&eacute;taphysique (T2). L&rsquo;ensemble de
        la discussion suppose donc toujours que l&rsquo;on se place en T1.
    </p>
    <p align="justify">
        Le <i>trojan par le bas</i> est d&eacute;fini
        comme une reddition psychique survenant &agrave; force de
        pers&eacute;cution. Ce <i>trojan</i> impose l&rsquo;ob&eacute;issance
        &agrave; un surhomme et transforme donc en clone blanc. Ce dernier
        fait ce que font les autres clones blancs&nbsp;: mentir, manipuler,
        pers&eacute;cuter&hellip; Aujourd&rsquo;hui, je pense que
        l&rsquo;implantation d&rsquo;un tel <i>trojan</i> dans mon esprit ne
        pourrait se produire que suite &agrave; une terreur politique
        (sup&eacute;rieur &agrave; celle de l&rsquo;automne 2015) ou
        m&eacute;taphysique&nbsp;(sup&eacute;rieur &agrave; celle de novembre
        2017). En fait, &agrave; de tels niveaux de pression, mon &acirc;me
        est <i>si affaibli, si mang&eacute;e</i> qu&rsquo;elle dit &laquo;&nbsp;f<i>aite</i><i>s</i><i>
            ce que vous voulez de moi&nbsp;
        </i>&raquo;. Il me semble donc peu
        probable que je puisse agir en clone blanc dans cet &eacute;tat. La
        suite plus logique d&rsquo;une telle destruction du moi, d&rsquo;un
        tel d&eacute;sespoir est le suicide ou la folie compl&egrave;te.
    </p>
    <p align="justify">
        Je n&rsquo;ai pas de r&egrave;gle sp&eacute;cifique
        contre le <i>trojan par le bas</i> car l&rsquo;essentiel de ma vie,
        de mes actes, de mes pens&eacute;es consistent &agrave; l&rsquo;emp&ecirc;cher.
        Donc s&rsquo;il devait survenir c&rsquo;est que les derni&egrave;res
        barri&egrave;res de d&eacute;fense psychique ont c&eacute;d&eacute;es
        et apr&egrave;s cela, il n&rsquo;y a plus de &laquo;&nbsp;moi&nbsp;&raquo;.
        Autrement dit, si le verrou c&egrave;de c&rsquo;est que j&rsquo;ai
        donn&eacute; tout ce que j&rsquo;avais dans le ventre et que cela n&rsquo;a
        pas suffit.
    </p>
    <p align="justify">
        Le <i>trojan par le haut</i> est un objet plus
        complexe &agrave; appr&eacute;hender. Emp&ecirc;cher un <i>
            trojan par
            le bas
        </i> c&rsquo;est se d&eacute;fendre contre un surhomme.
        Emp&ecirc;cher un <i>trojan par le haut </i>c&rsquo;est
        se d&eacute;fendre contre soi-m&ecirc;me. Je ne suis pas
        happ&eacute; par l&rsquo;attracteur
        <i>Trojan</i> comme je le
        suis par les autres attracteurs. Je
        ne suis jamais dans un &eacute;tat d&rsquo;esprit d&eacute;sirant
        pouvoir, puissance, cadeau ou
        quoi que ce soit qui me placerait sur
        un pi&eacute;destal par rapport &agrave; un autre homme. Jamais je ne
        d&eacute;sire &ecirc;tre un clone noir, un Dark Vador dominant un
        ou des clones blancs.
        Pourtant, je sais que
        l&rsquo;attracteur existe car
        je suis sensible aux flatteries.
        Je per&ccedil;ois donc ainsi
        son rayon d&rsquo;attraction
        mais je ne distingue pas bien
        sa taille, sa force ce qui m&rsquo;inqui&egrave;te car peut-&ecirc;tre
        que je le sous-estime. Une extr&ecirc;me prudence est donc de mise et
        il ne faut jamais perdre de
        vue que l&rsquo;ambition part toujours du point d&rsquo;arriv&eacute;e.
        Cela signifie que je peux ne
        pas d&eacute;sirer
        le pouvoir
        &agrave; un temps t
        et une
        seconde,
        une minute,
        un
        jour, un
        an, dix ans plus tard,
        succomber &agrave; un d&eacute;sir
        ardent. Je me m&eacute;fie de
        mon esprit car je sais que ce dernier est prompt &agrave; se trouver
        de bonnes raisons, de bonnes excuses quand il s&rsquo;agit de
        bifurquer des lignes pr&eacute;-trac&eacute;es.
    </p>
    <p align="justify">
        Voici un exemple
        typique qui me g&egrave;ne.
        Dans l&rsquo;hypoth&egrave;se d&rsquo;un surhommne anti-surhomme, ce
        dernier pourrait confier un pouvoir aux hommes (l&eacute;gitimit&eacute;
        &agrave; s&rsquo;exprimer,
        &agrave; &ecirc;tre &eacute;cout&eacute;) proportionnel au temps de
        r&eacute;sistance &agrave; l&rsquo;oppression. Ainsi ceux qui
        tiennent longtemps (comme
        moi) se retrouveraient &agrave;
        un moment &laquo;&nbsp;<i>en situation de pouvoir</i>&nbsp;&raquo;
        par rapport &agrave; ceux qui se seraient rapidement soumis au
        surhomme. Comment alors prendrais-je ce privil&egrave;ge d&rsquo;&ecirc;tre
        &eacute;cout&eacute; proportionnellement &agrave; mon temps / mon
        niveau de r&eacute;sistance&nbsp;? l&rsquo;accepterais-je&nbsp;?
        Accepterais-je d&rsquo;avoir un <i>pouvoir d&rsquo;orienter</i>
        plus grand que celui de mon voisin, de
        mon fr&egrave;re qui, pour
        une raison quelconque se
        serait soumis plus vite&nbsp;? Et bien la r&eacute;ponse &eacute;videmment
        est NON. Il s&rsquo;agit typiquement
        d&rsquo;un pouvoir que je me dois de refuser mais qui tape pourtant
        sur la corde sensible.
    </p>
    <p align="justify">
        Comment avoir une id&eacute;e &agrave; peu pr&eacute;s
        juste de son ambition&nbsp;? De sa volont&eacute; de pouvoir, de
        puissance&nbsp;? D&eacute;s qu&rsquo;il existe un test susceptible
        d&rsquo;infirmer ou de confirmer une ambition, une d&eacute;sir de
        pouvoir inconscient ou cach&eacute;, il faut mettre en place ce test
        sans d&eacute;lai. La r&eacute;ussite du test n&rsquo;a de valeur
        qu&rsquo;&agrave; l&rsquo;instant t o&ugrave; il est r&eacute;ussi et
        il faut toujours consid&eacute;rer qu&rsquo;on repart de z&eacute;ro
        la seconde suivante m&ecirc;me si on peut garder la satisfaction ou
        la fiert&eacute; d&rsquo;avoir pass&eacute; le test.
    </p>
    <p align="justify">
        Ainsi, je ne r&eacute;pond jamais au coup de
        t&eacute;l&eacute;phone anonyme. Le t&eacute;l&eacute;phone sonne,
        peut-&ecirc;tre s&rsquo;agit-il d&rsquo;un recruteur de clones noirs
        voulant me proposer une &laquo;&nbsp;sucrerie&nbsp;&raquo;? Peu
        importe la nature du cadeau potentiel, ne pas r&eacute;pondre
        signifie toujours pour moi&nbsp;: tu viens de passer le test.
        R&eacute;jouis-toi l&rsquo;espace d&rsquo;une seconde si cela flatte
        ton ego et consid&egrave;re-toi &agrave; risque &agrave; partir de la
        seconde suivante.
    </p>
    <p align="justify">
        J&rsquo;ai rapidement vu que l&rsquo;&eacute;criture
        de ces textes repr&eacute;sentait &eacute;galement un test
        anti-ambition. En particulier l&rsquo;attracteur M&eacute;taphysique
        qui met &agrave; jour une psychose grave et profonde (du point de vue
        de T1). Qui confierait un pouvoir &agrave; un fou&nbsp;?
    </p>
    <p align="justify">
        Ainsi l&rsquo;attracteur <i>Trojan</i>
        est le plus
        pernicieux, le plus sournois
        car je dois &ecirc;tre sur mes gardes &agrave; chaque instant &eacute;tant
        donn&eacute; son potentiel &agrave;
        me faire me trahir moi-m&ecirc;me. Il
        faut donc constamment avoir &agrave; l&rsquo;esprit
        la citation 83 de S&eacute;n&egrave;que&nbsp;:
    </p>
    <p align="center">
        &laquo;&nbsp;<i>
            Ne
            compte pas trop vite et trop ais&eacute;ment sur toi-m&ecirc;me.
            Secoue les divers replis de ton &acirc;me. Scrute et observe
        </i>&nbsp;&raquo;.
    </p>
    <p align="justify">
        Il
        y a trois points importants
        qui requi&egrave;rent
        toute ton
        attention&nbsp;:
    </p>
    <ul>
        <li />
        <p align="justify">
            la
            flatterie&nbsp;: <i>
                tu serais moins corruptible, plus fort,
                plus bon
            </i><i>etc. T</i><i>ou</i><i>t</i><i>
                le monde t&rsquo;aimerait
                bien
            </i><i>etc.</i><i> </i>Attention
            &agrave; cet argument
            de l&rsquo;amour&nbsp;: tu
            es faible et vaniteux, tu pourrais y &ecirc;tre sensible. N&rsquo;oublie
            pas que tu as affaire &agrave;
            des menteurs de profession. La Force c&rsquo;est de
            se  placer et de rester dans
            <i>Sophia</i>, et
            certainement pas
            de croire aux &acirc;neries que les uns ou les autres pourraient te
            d&eacute;biter &agrave; un
            rythme de 200/heure.
        </p>
        <li />
        <p align="justify">
            l&rsquo;accusation
            d&rsquo;ingratitude&nbsp;: un levier dangereux
            pourrait &ecirc;tre &laquo;<i>
                &nbsp;tu
                n&rsquo;imagines pas tout ce qu&rsquo;on fait pour toi etc.
            </i>&nbsp;&raquo;
            ou &laquo;&nbsp;<i>apr&egrave;s</i><i>
                tout ce qu&rsquo;on a fait pour toi, bla bla bla&nbsp;
            </i>&raquo;.
            Avec ce type d&rsquo;argumentaire, tu peux tomber dans le panneau.
            Garde en t&ecirc;te que le
            seul service que tu peux rendre aux autres c&rsquo;est de rester
            dans <i>Sophia</i>.
        </p>
        <li />
        <p align="justify">
            l&rsquo;accusation
            d&rsquo;&eacute;go&iuml;sme. Autre levier dangereux. Tout ce qui
            t&rsquo;int&eacute;resserait ne serait que ta petite personne et tes
            petites th&eacute;ories, assis
            confortablement devant ton ordinateur omettant les
            souffrance r&eacute;elles
            des vrais gens qui
            ont de vrais probl&egrave;mes... &laquo;&nbsp; <i>
                vient voir
                de tes yeux ceci, cela etc...
            </i>&nbsp;&raquo;.
            Garde en t&ecirc;te que ce
            type d&rsquo;argument sert essentiellement &agrave; l&eacute;gitimer
            <i>le faire souffrir </i>c&rsquo;est
            &agrave; dire le recours &agrave; <i>
                la violence dite
                l&eacute;gitime
            </i>.
        </p>
    </ul>
    <p align="justify">
        Avec
        ces trois leviers, on peut te manipuler. Tu dois donc y &ecirc;tre
        tr&egrave;s attentif et toujours v&eacute;rifier et comparer avec tes
        lignes globales qui sont les bonnes, celles de <i>Sophia</i>.

    </p>
    <p align="justify">
        Tout
        surhomme cherche &agrave; faire &eacute;tablir comme
        des faits,
        les axiomes suivants&nbsp;:
    </p>
    <ul>
        <li />
        <p align="justify">
            pour
            obtenir la v&eacute;rit&eacute;,
            il faut mentir
        </p>
        <li />
        <p align="justify">
            pour
            obtenir la libert&eacute;, il faut
            ob&eacute;ir
        </p>
        <li />
        <p align="justify">
            pour obtenir la
            bont&eacute;, il faut &ecirc;tre mauvais
        </p>
        <li />
        <p align="justify">
            pour
            obtenir l&rsquo;&eacute;galit&eacute;, il faut hi&eacute;rarchiser
            les hommes
            etc.
        </p>
    </ul>
    <p align="justify">
        Et c&rsquo;est en
        particulier sur ce dernier
        point que tu dois rester tr&egrave;s
        vigilant. Car si tu c&egrave;des
        ici, tu c&eacute;deras petit &agrave; petit pour tous les autres. Et
        alors, la r&eacute;alit&eacute; pragmatique du pouvoir sera de forcer
        les autres &agrave; mentir, ob&eacute;ir, &ecirc;tre mauvais
        et se hi&eacute;rarchiser les
        uns les autres etc. v&eacute;rit&eacute;, libert&eacute;, bont&eacute;
        ou &eacute;galit&eacute; ne seront plus que des mots creux car tu te
        seras laiss&eacute; d&eacute;vorer
        par ce qui veut avoir l&rsquo;apparence du pragmatisme mais qui
        repr&eacute;sente en r&eacute;alit&eacute;, le mal. Crois-moi, si tu
        veux rester &laquo;&nbsp;pragmatique&nbsp;&raquo;, reste dans <i>Sophia</i>
        et n&rsquo;accepte jamais le moindre pied dans la porte.
    </p>
    <p align="justify">
        Une
        caract&eacute;ristique associ&eacute;e &agrave; l&rsquo;attracteur
        <i>Trojan</i> est que tu es
        <i>en attente</i>. Tu attends
        quelque chose alors m&ecirc;me que tu pr&eacute;tends ne rien
        vouloir. Ce que tu attends c&rsquo;est que cet enfer se termine. Ne
        confond pas cette attente qui est humaine et l&eacute;gitime pour qui
        est victime d&rsquo;oppression
        politique avec l&rsquo;ambition. Car tu ne veux rien qu&rsquo;un
        autre de tes fr&egrave;res n&rsquo;ait pas d&eacute;j&agrave;.
        L&rsquo;enjeu pour toi est donc
        d&rsquo;apprendre &agrave; te satisfaire de ce que tu as d&eacute;j&agrave;,
        d&rsquo;&eacute;prouver de la joie dans l&rsquo;existence
        ind&eacute;pendamment de l&rsquo;oppression dont tu es
        victime.
    </p>
    <p align="justify">
        &laquo;&nbsp;<i>
            La
            vie est suffisamment riche de ressource mais nous sommes trop avides
            de les multiplier. Quelque chose nous semble manquer et nous le
            semblera toujours.&nbsp;
        </i>&raquo;
    </p>
    <p align="justify">
        Garde en t&ecirc;te
        cette citation de S&eacute;n&egrave;que, essaie de venir en aide &agrave;
        tes amis et tente de te frayer un chemin vers la joie.
    </p>
    <p align="justify">Courage Guillaume</p>
    <p align="justify">Guillaume. DS.</p>

</article>

    {% endblock %}
