{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block app_content %}

<h1>
    Attracteur AC
</h1>
<h2>Historique</h2>
<p align="justify">
    J&rsquo;ai commenc&eacute; &agrave; fumer et &agrave;
    boire au alentour de 16 ans. D&eacute;j&agrave; attir&eacute; par les
    joints, puis passant relativement rapidement &agrave; la cigarette.
    En premi&egrave;re ann&eacute;e de m&eacute;decine, il m&rsquo;arrivait
    tr&egrave;s r&eacute;guli&egrave;rement de fumer des joints seul le
    soir. Puis en deuxi&egrave;me ann&eacute;e de m&eacute;decine, avant
    d&rsquo;abandonner, je me suis mis &agrave; fumer la cigarette
    r&eacute;guli&egrave;rement et &agrave; acheter des paquets. D&eacute;j&agrave;
    &agrave; l&rsquo;&eacute;poque, mon alcoolisation en soir&eacute;e ou
    en vacance &eacute;tait excessive, cherchant la cuite
    syst&eacute;matiquement, la trouvant souvent. Puis je rencontre Karim
    &agrave; Chabestan, je me met au caf&eacute;, je fume des roul&eacute;es
    tous les jours depuis d&eacute;j&agrave; un moment. Deuxi&egrave;me
    ann&eacute;e de BIO avec mon  travail  &agrave; pizzahut en parall&egrave;le
    : je fume et bois r&eacute;guli&egrave;rement, y compris des joints.
    D&eacute;part en saison &agrave; Valcoline&nbsp;: je fume et bois
    tous les jours. Je ne m&rsquo;endort jamais sans mon joint. Puis je
    d&eacute;cide d&rsquo;apprendre le parapente et d&rsquo;arr&ecirc;ter
    de fumer. Je tiens 1 mois&nbsp;: au canada, seul dans une auberge de
    jeunesse, je craque et me remet &agrave; fumer b&ecirc;tement, par
    ennuie ou besoin de contenance. Retour &agrave; Valcoline pour la
    saison d&rsquo;&eacute;t&eacute;, je me met au parapente
    s&eacute;rieusement. J&rsquo;arr&ecirc;te probablement de fumer avant
    la rentr&eacute;e scolaire. Rencontre avec &Eacute;lise&nbsp;: je
    vais chercher des m&eacute;gots de cigarette en bas de chez moi pour
    refaire des cigarettes par bonheur, juste apr&egrave;s avoir fait
    l&rsquo;amour avec elle pour la premi&egrave;re fois. J&rsquo;arrive
    plus ou moins &agrave; ne plus trop fumer quand j&rsquo;arrive en
    saison aux deux alpes. Mais, me semble-t-il, je tourne d&eacute;j&agrave;
    au nicorette. Et je commence &agrave; boire trop. Tous les jours, au
    bar de l&rsquo;h&ocirc;tel ou alors, lors des sorties en boite tr&egrave;s
    r&eacute;guli&egrave;res. Mais je ne craque pas et ne recommence pas
    &agrave; fumer. Colloc avec Medhi et Michael. Je continue &agrave;
    boire pas mal, souvent jusqu&rsquo;&agrave; l&rsquo;ivresse. Je
    mangerais des nicorettes pendant plusieurs ann&eacute;es, au moins
    jusqu&rsquo;en DEA. Grosse d&eacute;pendance &agrave; la nicotine. Je
    continue &agrave; boire r&eacute;guli&egrave;rement avec R&eacute;mi
    mais essentiellement le week-end. Arr&ecirc;t des nicorettes
    progressivement et difficilement en DEA. Notons une reprise de la
    cigarette pendant une semaine avec Etienne et Crocs dans le sud-ouest
    (je passe instantan&eacute;ment de 0 &agrave; 20 cigarettes/jour).
    Quelques temps apr&egrave;s l&rsquo;arr&ecirc;t des nicorettes vers
    le DEA, par manque mais inconsciemment, je reprend la cigarette
    occasionnellement avec Benjamin, le week-end. Petit &agrave; petit,
    je vais cherch&eacute; des m&eacute;gots sur le domaine de la merci
    pour finir les soir&eacute;es avec un peu de nicotine. Mais je ne
    recommence pas &agrave; acheter des paquets gr&acirc;ce &agrave;
    Anne-Laure. Au d&eacute;part de R&eacute;mi, l&rsquo;hypocondrie
    survient, la quantit&eacute; de travail fourni &eacute;galement&nbsp;:
    je commence &agrave; boire r&eacute;guli&egrave;rement des kirs, le
    soir comme anxiolytique pour me d&eacute;tendre de journ&eacute;es de
    travail &eacute;prouvantes. Parfois, je bois un troisi&egrave;me
    verre en cachette quand Anne-Laure prend sa douche. Le groupe de
    copains &agrave; Jean-roget change, Maxime arrive et on commence &agrave;
    boire des pintes r&eacute;guli&egrave;rement au callaghan. Maxime me
    fait d&eacute;couvrir les cigarillos &agrave; l&rsquo;unit&eacute;.
    Par g&egrave;ne de taxer des clopes tous le temps, je commence &agrave;
    acheter ces cigarillos &agrave; l&rsquo;unit&eacute;. Pendant
    quelques ann&eacute;es, je tiendrais bon avec ce rythme (mes ann&eacute;es
    de fumeur &laquo;&nbsp;heureux&nbsp;&raquo;), Anne-Laure m&rsquo;emp&ecirc;chant
    de me remettre compl&egrave;tement &agrave; fumer. Puis arriv&eacute;
    au ch&ocirc;mage, l&rsquo;ennuie seul le soir me pousse &agrave;
    nouveau vers la cigarette et &agrave; fr&eacute;quenter d&rsquo;autres
    lieux de sociabilisation (Antigone)&nbsp;: je me met &agrave; fumer
    tous les soirs et &agrave; boire &eacute;galement souvent le soir.
    D&eacute;j&agrave; j&rsquo;ai conscience de boire trop et je me force
    &agrave; ne boire que des bi&egrave;res sans alcool seul chez moi. Le
    week-end, quand Anne-Laure vient, c&rsquo;est difficile car je ne
    peux pas fumer&nbsp;: le week-end est parfois un peu long quand on
    boit sans fumer. Heureusement, gr&acirc;ce &agrave; la course &agrave;
    pied, je ne fume pas le matin. Que le soir. Et je ne bois jamais la
    journ&eacute;e. D&eacute;part &agrave; Paris. Le stress du boulot, le
    fait d&rsquo;&ecirc;tre seul avec le besoin de se sociabiliser, je
    commence &agrave; fr&eacute;quenter les bars assid&ucirc;ment.
    J&rsquo;encha&icirc;ne les pintes les unes apr&egrave;s les autres,
    seul ou en groupe, tous les soirs je fume. Un alcoolisme plus s&eacute;rieux
    se met en place doucement mais s&ucirc;rement. La d&eacute;pendance &agrave;
    la nicotine &eacute;galement et je suis oblig&eacute; de passer &agrave;
    la cigarette &eacute;lectronique la journ&eacute;e pour ne pas &ecirc;tre
    en manque. C&rsquo;est l&rsquo;&eacute;poque o&ugrave; j&rsquo;ai les
    r&eacute;unions de pr&eacute;paration au mariage et je fume la
    cigarette &eacute;lectronique en cachette dans les chiottes.
</p>
<p align="justify">
    Nous sommes alors en 2014. La rencontre avec les
    &laquo;&nbsp;pompiers&nbsp;&raquo; et avec Jeff augmentera encore la
    consommation. Je fais encore illusion pour la cigarette avec
    Anne-Laure mais cela ne va pas durer longtemps. Une fois intern&eacute;,
    au mois de juillet, je me remet &agrave; fumer plein pot. Mais je
    commence aussi la cigarette &eacute;lectronique (une vraie). Le mois
    d&rsquo;ao&ucirc;t sera plut&ocirc;t calme cot&eacute; alcool et
    cigarette mais je recommence plein pot &agrave; paris, en compl&eacute;ment
    de la cigarette &eacute;lectronique que je fume H24. Anne-Laure me
    rejoint &agrave; Paris, j&rsquo;essaie de diminuer un peu ma
    consommation d&rsquo;alcool devant elle au Marsouins. N&eacute;anmoins,
    on peut dire que l&rsquo;ann&eacute;e 2014 est l&rsquo;ann&eacute;e
    o&ugrave; ma consommation d&rsquo;alcool et de cigarettes est la plus
    importante.
</p>
<p align="justify">
    En 2015, le stress post-internement, la d&eacute;couverte
    de mensonges et tromperies suppos&eacute;es &agrave; la population,
    la volont&eacute; de lancer une alerte, des ph&eacute;nom&egrave;nes
    de territorialisation/d&eacute;territorialisation du psychisme
    (irr&eacute;solution avec changement cyclique d&rsquo;angle de vue) ,
    les probl&egrave;mes avec Anne-Laure suite &agrave; l&rsquo;internement,
    les probl&egrave;mes au boulot maintiennent ma consommation d&rsquo;alcool
    et de cigarette &agrave; un niveau &eacute;lev&eacute;, par besoin
    anxiolytique entre autre. Mais d&eacute;j&agrave;, je trouve la force
    de faire des pauses. Une pause par exemple au printemps avant de
    partir au Puy-En-Velay o&ugrave; je reprends cigarettes et alcool.
    Puis une deuxi&egrave;me pause en Ao&ucirc;t, si ma m&eacute;moire
    est bonne, avant de partir en Martinique. Commencerons alors le d&eacute;but
    des r&eacute;v&eacute;lations et des pers&eacute;cutions plus
    directement visibles avec le placement sur &laquo;&nbsp;Mars&nbsp;&raquo;.
    J&rsquo;arr&ecirc;terais alcool et cigarette brutalement. Impossible
    de me rappeler &eacute;galement le mois o&ugrave; tout cela s&rsquo;est
    pass&eacute; &eacute;tant donn&eacute; le niveau de pression mentale.
    Septembre-octobre ou novembre. Anne-Laure me quitte probablement vers
    le mois de novembre. Malgr&eacute; le pseudo simulacre d&rsquo;ex&eacute;cution
    du 6 d&eacute;cembre 2015, je ne bois pas et ne fume pas. Notons donc
    que durant cette ann&eacute;e 2015, il y a aura eu entre 3 et 4 mois
    sans alcool et sans cigarette (mais avec cigarette &eacute;lectronique).
</p>
<p align="justify">
    En 2016, je maintiens la non-consommation d&rsquo;alcool
    et de cigarette jusqu&rsquo;&agrave; ma rencontre avec M&eacute;lanie
    o&ugrave; je m&rsquo;accorderais une pause d&rsquo;une nuit au mois
    d&rsquo;avril soit d&eacute;j&agrave; quasiment 4 mois sans
    consommation. A noter que ce craquement est peut-&ecirc;tre li&eacute;
    &agrave; un arr&ecirc;t trop brutal de la nicotine (cigarette
    &eacute;lectronique). Je craquerais &agrave; nouveau et
    recommencerais &agrave; boire et fumer apr&egrave;s avoir fait
    l&rsquo;amour avec Carla sur le chemin de saint-Jacques. Je ferais &agrave;
    nouveau des efforts en juin pour essayer de maintenir mon arr&ecirc;t
    mais c&rsquo;est trop dur et je recommence lentement mais s&ucirc;rement
    &agrave; consommer par besoin anxiolytique et de sociabilisation.
    Durant l&rsquo;&eacute;t&eacute;, je fr&eacute;quente les cabanes des
    Alpes et j&rsquo;arrive tout au plus &agrave; maintenir un vague 1
    jour sur 2 en moyenne mais je ne consommerais jamais ni cigarette ni
    alcool en montagne ce qui est notable car l&rsquo;exercice n&rsquo;est
    pas simple. Mort de Michel en Septembre. Je recommencerais plein pot
    pendant l&rsquo;automne et &agrave; Longo Mai malgr&eacute; sa
    demande, avant de mourir,&nbsp;que je fasse tr&egrave;s attention &agrave;
    l&rsquo;alcool et que j&rsquo;essaie de ne plus boire. Et il savait
    de quoi il parlait. Durant cet automne, je fais n&eacute;anmoins
    quelques fugaces pauses qui montrent la d&eacute;termination
    d&rsquo;arr&ecirc;ter (chez les bonnes s&oelig;urs &agrave;
    St-Gervais et &agrave; Longo Mai une dizaine de jours). En 2016,
    j&rsquo;estime &agrave; environ 6 mois le nombre de jours o&ugrave;
    je n&rsquo;ai pas bu ni fumer. Soit environ 1 jour sur 2.
</p>
<p align="justify">
    En 2017, j&rsquo;ai tr&egrave;s mal commenc&eacute;
    l&rsquo;ann&eacute;e avec une cuite le jour de l&rsquo;an dont j&rsquo;ai
    mis 3 jours &agrave; me remettre. J&rsquo;ai rarement &eacute;t&eacute;
    aussi malade apr&egrave;s une cuite. J&rsquo;ai imm&eacute;diatement
    stopp&eacute; toute consommation d&rsquo;alcool et de cigarette
    pendant 8 mois. J&rsquo;ai r&eacute;ussi &eacute;galement &agrave; me
    d&eacute;sintoxiquer de la nicotine les semaines pr&eacute;c&eacute;dents
    mon troisi&egrave;me d&eacute;part &agrave; st-Jacques ce qui fait
    que je suis parti sur le chemin du nord sans nicorette. J&rsquo;ai
    tenu bon pendant tout le voyage malgr&eacute; la duret&eacute; de ces
    3 mois. A force de d&eacute;sirer partir en vacances avec Raquel,
    j&rsquo;en suis venu &agrave; d&eacute;sirer reboire et refumer
    &laquo;&nbsp;juste en vacance&nbsp;&raquo; avec elle. L&rsquo;id&eacute;e
    ayant &eacute;t&eacute; implant&eacute;e, j&rsquo;ai d&eacute;cid&eacute;
    en revenant &agrave; Grenoble, de me r&eacute;-autoriser l&rsquo;alcool
    et la cigarette pour pouvoir maintenir un certains/sens plaisir &agrave;
    la vie. J&rsquo;ai d&eacute;cid&eacute; quelques jours avant, vers le
    25 ao&ucirc;t que je recommencerais&nbsp;: il s&rsquo;agissait donc
    d&rsquo;une reprise calcul&eacute;e, m&ucirc;ri et non pas d&rsquo;une
    rechute impr&eacute;vue. N&eacute;anmoins, le terme &laquo;&nbsp;calcul&eacute;e&nbsp;&raquo;
    n&rsquo;est pas le bon&nbsp;: &laquo;&nbsp;accul&eacute;&nbsp;&raquo;
    serait le bon terme pour d&eacute;crire le fait qu&rsquo;il me
    fallait bien un peu de calorie &agrave; mettre dans mon existence et
    qu&rsquo;&agrave; ce moment-l&agrave;, seule l&rsquo;alcool et la
    cigarette pouvaient me les procurer. En cela, je suivais la r&egrave;gle
    autorisant l&rsquo;alcool pour s&rsquo;emp&ecirc;cher de se suicider.
    J&rsquo;ai tent&eacute; de contr&ocirc;ler &laquo;&nbsp;la
    redescente&nbsp;&raquo; vers une consommation journali&egrave;re en
    vain. J&rsquo;ai mesur&eacute; les espaces entre les consommations
    essayant de garder le contr&ocirc;le mais inexorablement, j&rsquo;ai
    vu ces espaces se r&eacute;duire&nbsp;: 15 jours puis 7 jours, puis 6
    puis 5, 4, 3, 2, 1 et repasser &agrave; une consommation journali&egrave;re.
    j&rsquo;ai eu un bon rebond pendant environ 3 semaines avant de
    descendre voir Carla &agrave; Aix-en-provence. Mais j&rsquo;ai c&eacute;d&eacute;
    &agrave; la r&egrave;gle des 1 mois sous pr&eacute;texte de ce
    week-end avec Carla. Puis en rentrant d&rsquo;Aix-en-provence, j&rsquo;ai
    supprim&eacute; toute id&eacute;e de mod&eacute;ration et est
    encha&icirc;n&eacute; pack de bi&egrave;re sur pack de bi&egrave;re
    avec 1 paquet de cigarillos par jour pendant environ 1 mois,
    jusqu&rsquo;aux &eacute;v&eacute;nements aux alentours du 21
    novembre. J&rsquo;ai alors stopp&eacute; brutalement toute
    consommation. Ainsi, sur l&rsquo;ann&eacute;e 2017, j&rsquo;ai r&eacute;ussi
    &agrave; tenir 8 mois sans boire ni fumer. Et il n&rsquo;y a eu que
    42 jours dans l&rsquo;ann&eacute;e o&ugrave; j&rsquo;ai consomm&eacute;
    alcool et cigarette.
</p>
<p align="justify">
    L&rsquo;ann&eacute;e 2018. Aucune consommation
    d&rsquo;alcool ni de cigarette. Mais je restais addict aux nicopass.
    J&rsquo;ai donc tent&eacute; un premier sevrage au alentour de mars.
    j&rsquo;ai tenu une ou deux semaines mais le moral &eacute;tait trop
    bas. J&rsquo;ai donc d&eacute;cid&eacute; de reprendre les nicopass,
    priorisant ainsi le moral. Puis, j&rsquo;ai commenc&eacute; &agrave;
    calmer doucement ma consommation &agrave; l&rsquo;&eacute;t&eacute;,
    essayant de prendre la premi&egrave;re pastille vers 12h, puis 13h
    puis 14H ce qui signifie, sur le papier, une bonne diminution de la
    d&eacute;pendance selon le test de fagerstorm.  Mais &ccedil;a, c&rsquo;est
    sur le papier. Dans la r&eacute;alit&eacute;, le sevrage nicotinique
    a &agrave; nouveau constitu&eacute; une &eacute;preuve avec r&eacute;duction
    progressive et arr&ecirc;t total au 1<sup>er</sup> septembre 2019.
    Cette fois-ci j&rsquo;ai tenu bon mais, comme je le pressentais, j&rsquo;ai
    &eacute;t&eacute; victime de syndrome d&eacute;pressif assez fort
    durant l&rsquo;automne. Syndrome dont les causes sont
    multifactorielles mais dont le sevrage nicotinique pourrait &ecirc;tre
    un des principaux facteurs.
</p>
<p align="justify">
    Nous voici en 2019. Je pensais &eacute;crire ce
    bilan au premier janvier mais je sentais que cela &eacute;tait trop
    t&ocirc;t au regard de mon sevrage nicotinique. J&rsquo;ai donc
    recul&eacute; ce bilan &laquo;&nbsp;&agrave; 6 mois&nbsp;&raquo;.
    Aujourd&rsquo;hui,  nous sommes le 4 mars 2019. J&rsquo;ai stopp&eacute;
    l&rsquo;alcool et la cigarette il y a environ 15 mois et 10 jours. Et
    j&rsquo;ai arr&ecirc;t&eacute; la nicotine il y a 6 mois et 4 jours.
    Concernant, l&rsquo;alcool, je n&rsquo;ai que tr&egrave;s peu de
    d&eacute;sir de reboire, je n&rsquo;y pense que peu mais j&rsquo;&eacute;vite
    autant que possible les lieux &agrave; risque type bar ou soir&eacute;e.
    Je n&rsquo;ai pas envie de refumer mais je sens encore un certain
    &laquo;&nbsp;faible&nbsp;&raquo; pour la nicotine. Par exemple, il
    m&rsquo;arrive d&rsquo;avoir envie de prendre une taffe sur la
    cigarette &eacute;lectronique de Simon. Ou alors, je suis pass&eacute;
    devant quelques nicopass qui tra&icirc;naient chez mes parents et
    j&rsquo;ai eu une pens&eacute;e fugace, imm&eacute;diatement &eacute;cart&eacute;e,
    de finir ces derniers &laquo;&nbsp;bonbons&nbsp;&raquo;. Bref, je
    reste fragile au regard de la nicotine et il faut se fixer comme
    prochaine &eacute;ch&eacute;ance le 1 septembre 2019, soit &agrave;
    un an post-nicotine. Car c&rsquo;est toujours le manque de nicotine,
    l&rsquo;envie de nicotine qui t&rsquo;a fait replonger vers la
    cigarette ou vers l&rsquo;alcool. Notons n&eacute;anmoins que durant
    les ann&eacute;es de colocation avec R&eacute;my et lors de la
    travers&eacute;e du Vercors avec Michel, j&rsquo;&eacute;tais
    peut-&ecirc;tre plus d&eacute;pendant &agrave; l&rsquo;alcool qu&rsquo;&agrave;
    la nicotine mais les choses se sont invers&eacute;es les ann&eacute;es
    qui ont suivi et la nicotine, ces derni&egrave;res ann&eacute;es,
    &eacute;tait le principal probl&egrave;me. Voici donc pour cet
    historique global de ma consommation.
</p>

<h2>Cahier des charges/analyse</h2>

<p align="justify">
    A ce stade d&rsquo;alcoolisme et de tabagisme, tu
    n&rsquo;es plus en mesure de contr&ocirc;ler la consommation de ces
    produits. On le voit clairement, il t&rsquo;a fallu plusieurs ann&eacute;es
    pour arr&ecirc;ter &laquo;&nbsp;d&eacute;finitivement&nbsp;&raquo;
    avec de nombreuses rechutes. A chaque fois que tu as pens&eacute; en
    terme de &laquo;&nbsp;contr&ocirc;le&nbsp;&raquo;, cela s&rsquo;est
    av&eacute;rer faux et en moins d&rsquo;un mois tu repassais &agrave;
    une consommation quotidienne. Ainsi donc, tu ne peux plus te
    permettre de faire de pause dans ton abstinence. Toute reprise, m&ecirc;me
    une seule petite fois, une seule petite cigarette, signifiera
    toujours la reprise car l&rsquo;id&eacute;e de l&rsquo;autorisation
    sera implant&eacute;e et inexorablement, le lendemain, une semaine, 1
    mois ou 6 mois plus tard, tu refumeras, reboiras et la fr&eacute;quence
    de reprise augmentera inexorablement pour revenir &agrave; la
    consommation quotidienne. Reprendre la cigarette ou l&rsquo;alcool
    c&rsquo;est donc toujours mettre un point d&rsquo;arr&ecirc;t &agrave;
    ton abstinence. Toujours. Et donc toujours suivra la n&eacute;cessit&eacute;
    de mettre en place un programme de d&eacute;sintoxication long,
    fatiguant et &eacute;prouvant pour le moral. En particulier
    concernant la nicotine qui, tu le sais, en plus des effets du manque
    qui s&rsquo;estompent en quelques semaines, se surajoute le
    d&eacute;clenchement de d&eacute;pression les mois qui suivent
    rendant si difficile l&rsquo;arr&ecirc;t d&eacute;finitif de la
    nicotine. Ne touche donc plus jamais &agrave; cette saloperie de
    mol&eacute;cule.
</p>
<p align="justify">
    Pourquoi boire et fumer&nbsp;? Une des raisons qui
    t&rsquo;a souvent reconduit &agrave; boire et fumer c&rsquo;est
    l&rsquo;id&eacute;e que   l&rsquo;ivresse et la joie procur&eacute;e
    sont une dimension importante de la vie. La possibilit&eacute; de
    mettre le cerveau en pause cot&eacute; interrogation, de se d&eacute;tendre
    enfin, d&rsquo;&ecirc;tre quelqu&rsquo;un d&rsquo;autre, plus cool,
    plus relax, plus &laquo;&nbsp;dans le rire et dans le moment
    pr&eacute;sent&nbsp;&raquo;. Les moments de vie ivres, les soir&eacute;es
    seraient par nature, plus intenses. Et qu&rsquo;on passerait &agrave;
    cot&eacute; d&rsquo;un pan de vie important si on ne s&rsquo;autorisait
    pas ces moments de plaisir. La possibilit&eacute; de changer de
    &laquo;&nbsp;peau&nbsp;&raquo;, d&rsquo;&ecirc;tre plus con, moins
    dans le contr&ocirc;le a souvent aussi pes&eacute; dans la balance
    pour d&eacute;fendre ces drogues.
</p>
<p align="justify">
    Oui la sociabilit&eacute; est plus facile et plus
    agr&eacute;able avec l&rsquo;alcool et la cigarette. Toute rencontre
    devient plus facile. Mais t&rsquo;es souvent con, d&eacute;fonc&eacute;,
    racontant n&rsquo;importe quoi et montrant une image bien
    maigrichonne de toi-m&ecirc;me quand tu es ivre mort. Toute rencontre
    amoureuse devient impossible car ta propre image de toi-m&ecirc;me
    devient trop d&eacute;grad&eacute;, tu fais piti&eacute; d&rsquo;une
    part et tu te fais piti&eacute; &agrave; toi-m&ecirc;me d&rsquo;autre
    part. Ton seul mode de s&eacute;duction possible dans cet &eacute;tat
    devient la piti&eacute; or cela n&rsquo;a jamais march&eacute;&hellip;
</p>
<p align="justify">
    Tu peux avoir une sociabilit&eacute; sans alcool
    et cigarette. Il faut juste la repenser, la reconstruire diff&eacute;remment
    et selon d&rsquo;autres logiques (le don, le jeu, le rire, le plaisir
    de faire plaisir&hellip;).
</p>
<p align="justify">
    Tout d&eacute;sir, toute volont&eacute; chute
    lorsque tu reprends la cigarette et l&rsquo;alcool. Alors, la seule
    chose qui rev&ecirc;t de l&rsquo;importance dans la vie, c&rsquo;est
    la cuite ou la consommation. AC devient le but et ne laisse aucune
    place &agrave; tout autre projet. A l&rsquo;inverse, d&eacute;s que
    tu arr&ecirc;tes, d&eacute;sir, volont&eacute;, confiance en soi
    reviennent rapidement, en quelques jours.
</p>
<p align="justify">
    Souvent, tu t&rsquo;es servi de fausses excuses
    pour recommencer &agrave; boire. Le mal de dos r&eacute;current qui
    t&rsquo;emp&ecirc;che de faire du sport et donc de &laquo;&nbsp;g&eacute;n&eacute;rer
    des endorphines de compensation&nbsp;&raquo; est une de ces excuses.
    Or tu ne dois pas justifier la consommation de drogue &agrave; cause
    de ton mal de dos. Des alternatives existent. Et le dos ne peut
    constituer une excuse valable. Il en va de m&ecirc;me de l&rsquo;oppression
    politique et/ou m&eacute;taphysique dont tu fais l&rsquo;objet. Cela
    ne peut constituer une excuse suffisante &agrave; la consommation de
    stup&eacute;fiants. Tu t&rsquo;es servi de la r&egrave;gle
    anti-suicide une fois. Mais tu as vu &eacute;galement que la
    consommation peut t&rsquo;y mener tout droit. La prise de stup&eacute;fiant
    peut g&eacute;n&eacute;rer un d&eacute;lai, une prise de distance
    temporaire mais peut &eacute;galement lentement te mener &agrave; la
    mort. Cette r&egrave;gle anti-suicide doit donc &ecirc;tre regard&eacute;e
    pour ce qu&rsquo;elle est&nbsp;: bien maigrichonne.
</p>
<p align="justify">
    Voici maintenant les moments de faiblesse o&ugrave;
    la probabilit&eacute; de reprise est la plus &eacute;lev&eacute;e&nbsp;:
</p>
<ul>
    <li />
    <p align="justify">
        La solitude. La d&eacute;pression. L&rsquo;ennui.
        Le &laquo;&nbsp;&agrave; quoi bon se bouger le cul&nbsp;&raquo;.
        Attention danger.
    </p>
    <li />
    <p align="justify">
        Les moments d&rsquo;intense bonheur &agrave;
        immortaliser (apr&egrave;s avoir fait l&rsquo;amour &agrave; une
        femme ou bien en partageant un moment exceptionnel avec une femme/
        des copains, en vacances par exemple). Cela est un leurre&nbsp;: au
        moment m&ecirc;me o&ugrave; tu c&egrave;des, tu d&eacute;truis
        grandement le moment de bonheur cr&eacute;&eacute; car ton cerveau
        va devenir obnubil&eacute; en quelques secondes par la consommation
        (et oublier ta copine, tes copains...). L&rsquo;image de toi se
        d&eacute;gradera tr&egrave;s vite et ce fameux moment de bonheur par
        la m&ecirc;me occasion. Car il y aura toujours au fond de toi cette
        id&eacute;e que tu as c&eacute;d&eacute;, que tu as repris la
        consommation alors que tu ne le devais pas. Et cette petite voie
        cach&eacute;e au fond de toi et qui a raison t&rsquo;attristera. Le
        soir et la nuit suivant la reprise, tu exp&eacute;rimenteras
        mauvaise haleine, all&eacute;-retour incessant aux toilettes et le
        lendemain la gueule de bois et encore une fois cette fameuse
        tristesse.
    </p>
    <li />
    <p align="justify">
        Le temps qui passe sans consommation d&rsquo;AC
        et qui fait croire, &agrave; tort, qu&rsquo;on contr&ocirc;le, qu&rsquo;on
        &laquo;&nbsp;ma&icirc;trise&nbsp;&raquo;. L&rsquo;erreur de base du
        d&eacute;butant. Aucun contr&ocirc;le n&rsquo;est possible car c&rsquo;est
        un switch binaire 0/1. M&ecirc;me apr&egrave;s 30 ans d&rsquo;abstinence,
        ce switch perdurera. N&rsquo;oublie pas cette phrase de Laurent &laquo;&nbsp;je
        ne pouvais pas boire <b>un</b> verre&nbsp;&raquo;. Toi non plus tu
        ne peux plus depuis longtemps boire &laquo;&nbsp;juste un verre&nbsp;&raquo;.
        Quand tu penses consommation d&rsquo;alcool, tu penses l&rsquo;ivresse
        donc au minimum 6 bi&egrave;res et un paquet de cigarettes. Moins
        que cela serait presque pire que rien du tout. Ton cerveau ne peut
        plus consid&eacute;rer &laquo;&nbsp;un verre&nbsp;&raquo;. Pour un
        non-alcoolique, un demi dans un bar ne repr&eacute;sente pas &laquo;&nbsp;le
        but&nbsp;&raquo;, le &laquo;&nbsp;mieux&nbsp;&raquo;&nbsp;: ce n&rsquo;est
        qu&rsquo;un &agrave;- cot&eacute; agr&eacute;able mais secondaire
        qui se rajoute au moment pr&eacute;sent (boire un verre en terrasse
        avec sa copine par exemple&nbsp;; si c&rsquo;&eacute;tait un coca &ccedil;a
        ne changerait pas grand-chose). Chez toi, &ccedil;a change tout&nbsp;:
        ce demi (et ceux qui suivront) est imm&eacute;diatement plac&eacute;
        comme &laquo;&nbsp;au sommet&nbsp;&raquo; des plaisirs du moment
        pr&eacute;sent (le reste devenant secondaire ce qui est bien
        triste). Ainsi m&ecirc;me apr&egrave;s des ann&eacute;es
        d&rsquo;abstinence et le sentiment de contr&ocirc;le, si tu craques
        dans le moment d&rsquo;intense bonheur, instantan&eacute;ment, le
        &laquo;&nbsp;verre&nbsp;&raquo; et la &laquo;&nbsp;cigarette&nbsp;&raquo;
        deviendront la seule chose qui compte sur cette terre. J&rsquo;exag&egrave;re
        un peu mais tu sais que je ne suis pas loin de la v&eacute;rit&eacute;.
        Rappelle toi le lendemain matin avec M&eacute;lanie&nbsp;o&ugrave;
        tu lui qu&eacute;mandais mis&eacute;rablement des roul&eacute;es
        comme si ta vie en d&eacute;pendait&nbsp;: tu faisais piti&eacute;&nbsp;:
        cela faisait  6 mois que tu n&rsquo;avais pas fum&eacute;&nbsp;: tu
        n&rsquo;en avais pas besoin&nbsp;! Ou cette belle apr&egrave;s-midi
        en Espagne apr&egrave;s avoir fait l&rsquo;amour &agrave; Carla, o&ugrave;
        tu courrais dans tous les sens dans le village comme un pantin pour
        trouver un paquet de clope pour &laquo;&nbsp;immortaliser un
        moment&nbsp;&raquo; qui n&rsquo;avait vraiment pas besoin de cela&nbsp;!
        Repense ce moment avec Carla sur la terrasse&nbsp; et regarde la
        v&eacute;rit&eacute; en face&nbsp;: avec un coca, il aurait &eacute;t&eacute;
        encore mieux.
    </p>
    <li />
    <p align="justify">
        Les moments de changements (voyage,
        vacances, changements dans le quotidien). Dans ces moments, il n&rsquo;est
        pas rare que l&rsquo;on se retrouve seul ou bien avec des gens avec
        qui il faut recr&eacute;er un d&eacute;but de relation. Dans ces
        moments, pour se donner une contenance, pour faire passer le temps,
        pour supprimer sa timidit&eacute; et rendre le moment partag&eacute;
        plus &laquo;&nbsp;facile&nbsp;&raquo;, fumer/partager une cigarette,
        un verre devient extr&ecirc;mement tentant. Il faut le savoir et
        accepter que, oui, la sociabilisation est grandement facilit&eacute;e
        par la consommation d&rsquo;alcool et de cigarette mais pour la
        cigarette, cela va devenir de moins en moins vrai car de moins en
        moins de gens fumeront. Pour l&rsquo;alcool, tu vas vieillir et en
        vieillissant, on rencontre plus de gens qui boivent mod&eacute;r&eacute;ment
        ou pas du tout ou qui sont moins port&eacute;s sur la f&ecirc;te.
        Donc serres les fesses et tient le coup. Apprendre la
        sociabilisation sans cigarette et sans alcool, dans les moments un
        peu plus difficile, est un art d&rsquo;une part et est loin d&rsquo;&ecirc;tre
        si difficile d&rsquo;autre part. Souvent la difficult&eacute;
        ressentie, c&rsquo;est juste l&rsquo;envie d&rsquo;une clope. Et
        boire un caf&eacute; ou un coca avec un inconnu/une inconnue sans
        fumer n&rsquo;est pas non plus le summum de l&rsquo;anti-sociabilit&eacute;.
    </p>
</ul>
<p align="justify">
    Il ne faut plus fumer, ni boire ni prendre un
    quelconque produit contenant de la nicotine. Tu n&rsquo;es plus en
    mesure de contr&ocirc;ler la consommation de ces produits alors n&rsquo;en
    consomme pas. Cela est absolument incompatible avec ton bonheur et tu
    ne pourras jamais &ecirc;tre heureux avec l&rsquo;alcool ou la
    cigarette. Cela fait maintenant 15 mois que je n&rsquo;ai pas
    consomm&eacute; et c&rsquo;est 1000 fois mieux comme cela. Quel
    plaisir de ne plus avoir ces gueules de bois infernales ou cette
    culpabilit&eacute; ambiante&nbsp;! Et quel plaisir de ne plus &ecirc;tre
    au d&eacute;but, au milieu ou &agrave; la fin d&rsquo;un programme de
    d&eacute;sintoxication o&ugrave; il faut reprogrammer toute sa vie,
    subir les effets du manque, de la d&eacute;pression et r&eacute;apprendre
    &agrave; appr&eacute;cier d&rsquo;autres moments que les moments
    d&rsquo;ivresse !
</p>
<p align="justify">
    On reste bien s&ucirc;r ex-fumeur et ex-alcoolique
    (alcoolique abstinent) toute sa vie et il faudra que tu sois sur le
    qui vive chaque seconde de ton existence. N&eacute;anmoins, c&rsquo;est
    une bonne chose de ne plus vouloir jamais reprendre. De l&rsquo;&eacute;crire
    m&ecirc;me ce &laquo;&nbsp;jamais&nbsp;&raquo; car longtemps, je n&rsquo;ai
    pu consid&eacute;rer toute une vie sans AC. Je ne pouvais concevoir
    que des pauses. Maintenant, je peux imaginer une vie sans AC. Il
    m&rsquo;arrive souvent de m&rsquo;imaginer &agrave; 70 ballets,
    acceptant que pour les quelques ann&eacute;es, d&eacute;cennies
    restants, &laquo;&nbsp;all&eacute;ger&nbsp;&raquo; le programme final
    en s&rsquo;autorisant ces quelques plaisirs serait acceptables. Ce
    n&rsquo;est pas une bonne mani&egrave;re de penser.
</p>
<p align="justify">
    Tu dois penser et signer le &laquo;&nbsp;jamais&nbsp;&raquo;.
    Et quand tu auras 70 ans si un jour tu les as, tu verras bien.
</p>
<p align="justify">
    Courage Guillaume. Ne fume et ne bois plus JAMAIS.
</p>
<p align="justify">Ton moi sobre.</p>
<p align="justify" style="font-style: normal">
    <b>
        Sign&eacute;
        &eacute;lectroniquement le 04/03/2018 &agrave; 20H45 &agrave;
        Grenoble.
    </b>
</p>
<p align="justify" style="font-style: normal">
    <b>Guillaume. DS. </b>
</p>


{% endblock %}