{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block app_content %}

<label for="begincitation">Choisir une citation de départ:</label>
<input type="number" id="begincitation" name="begincitation"
       min="1" max="300" value="1">

<label for="numbercitation">Choisir un nombre de citations:</label>
<input type="number" id="numbercitation" name="numbercitation"
       min="0" max="300" value="10" step="10">

<label for="typeofsort">Mode de tri:</label>
<select id="typeofsort"  >
    <option value="SRR/TRT">SRR/TRT</option>
    <option value="TRT">TRT</option>
    <option value="SRR">SRR</option>
    <option value="order">order</option>
    <option value="rand">rand</option>
</select>

<button type="button" id="Run">Load</button>

<div class="parent">
    <div class="enfant"><h2 id="ShowCitation"></h2></div>
</div>

<div id="IDShowSRRandTRT">
    <h4 id="ShowSRRandTRT"> </h4>
</div>

<footer>
    <button type="button" id="Plusone">+1</button>
    <button type="button" id="Suivant">Suivant</button>
    <button type="button" id="Minusone">-1</button>
</footer>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}