{% extends "base.html" %}

{% block app_content %}
<!--<h1>Salut, ##{{ current_user.username }}!</h1>-->

<label for="numbercitation">Choisir un numero de citation:</label>

<input type="number" id="numbercitation" name="numbercitation"
       min="1" max="300">


<button type="button" id="Run">Load</button>
<button type="button" id="Plusone">+1</button>
<button type="button" id="Suivant">Suivant</button>
<button type="button" id="Minusone">-1</button>

<h2 id="ShowCitation"></h2>
<!--<div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Citation</th>
                <th>SRR</th>
                <th>TRT</th>
            </tr>
        </thead>
        <tbody>
            {% for citation in citations %}
            {% include '_post.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>-->
{% endblock %}


{% block scripts %}
{{ super() }}
<script>

    $(function () {
        // write start up code here
        var iteration
        var citations
        $("#Run").click(function () {

            //
            var iteration=1
            var variable = Number($('#numbercitation').val());
            var firstTimestamp
            
            $.ajax({
                url: '/RequestCitations',
                type: 'POST',
                data: JSON.stringify(variable),
                success: function (dicts) {
                    citations = dicts;
                    //$("#ShowCitation").html(citations.keys()[iteration]);
                    $("#ShowCitation").html(citations[iteration][0]);
                }
            });

            //firstTimestamp = new Date().getTime(); 
            $('#Suivant').attr("disabled", "disabled")
        });
        $("#Plusone").click(function() {

            //var secondTimestamp = new Date().getTime(); // On récupère le timestamp après l'exécution
            //NewTRT = secondTimestamp - firstTimestamp; // On fait la soustraction
            //alert(NewTRT)
            CurrentCitationNumber = citations[iteration][0]
            NewSRR = parseInt(citations[iteration][2]) + 1
            citations[iteration][2]=NewSRR.toString()
            
            $.ajax({
                url: '/SaveTrainingResults',
                type: 'POST',
                data: JSON.stringify({ 'CurrentCitationNumber': CurrentCitationNumber, 'NewSRR': NewSRR/*, 'NewTRT': NewTRT*/}),
                success: function (saved) {
                    alert(saved);
                }     
            });
            $("#ShowCitation").html(citations[iteration][1]);
            $('#Suivant').removeAttr('disabled');
        });

        $("#Suivant").click(function () {
            iteration = iteration + 1;
            //firstTimestamp = new Date().getTime(); 
            $("#ShowCitation").html(citations.keys()[iteration]);
            $("#ShowCitation").html(citations[iteration][0]);
            $('#Suivant').attr("disabled", "disabled")
        });

    });
</script>
{% endblock %}



